<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.admin.contract.mapper.AdminContractMapper">

	<!-- resultMap : 조회 결과를 자바 클래스(domain,dto)와 명시적으로 매핑설정 -->
	<resultMap type="AdminContract" id="contractResultMap">
		<!-- id : 테이블 pk 컬럼 -->
		<id 	column="rental_contract_no" 			property="rentContNo" />
		<!-- result : 테이블 일반 컬럼 -->
		<result column="ent_ceo_no" 					property="entCeoNo" />
		<result column="ent_emp_id" 					property="entEmpId" />
		<result column="sell_products_no" 				property="sellProdNo" />
		<result column="cust_id" 						property="custId" />
		<result column="rental_contract_status" 		property="rentContStatus" />
		<result column="contract_quantity" 				property="contQuantity" />
		<result column="contract_period" 				property="contPeriod" />
		<result column="rental_start_date" 				property="rentStartDate" />
		<result column="rental_end_date" 				property="rentEndDate" />
		<result column="rental_cancel_date" 			property="rentCancelDate" />
		<result column="contract_date" 					property="contDate" />
		<result column="ent_nm"							property="entName" />
		<result column="products_nm"					property="productName" />
	</resultMap>

	<resultMap type="AdminContractDetail" id="contractDetailResultMap">	
		<id column="rental_contract_detail_no" 		property="rentalContractDetailNum" />
		<result column="paid_in_rounds" 			property="paidInRound" />
		<result column="payment_amount" 			property="paymentAmount" />
		<result column="penalty_fee"				property="penaltyFee" />
		<result column="monthly_date"				property="monthlyDate"/>
		<result column="monthly_payment_date"		property="monthlyPaymentDate" />
		<result column="unpaid_status" 				property="unpaidStatus" />
		<result column="rental_contract_type" 		property="rentalContType" />
		<result column="rental_contract_no"			property="rentalContNo"/>
	</resultMap>

	<select id="getContractDetail" parameterType="string" resultMap="contractDetailResultMap">
		SELECT 
			rcd.paid_in_rounds ,
			rcd.payment_amount,
			rcd.penalty_fee,
			rcd.monthly_date,
			rcd.monthly_payment_date ,
			rcd.unpaid_status,
			rcd.rental_contract_type
		FROM 
			rental_contract_details rcd
		WHERE 
			rcd.rental_contract_no = #{rentalContNo}
		ORDER BY 
			rcd.paid_in_rounds DESC ;
	
	</select>

	<select id="getSearchContractList" parameterType="string" resultMap="contractResultMap">
		/* 입점업체과 고객 렌탈 계약정보 조회 */
		select
			rc.cust_id,
			rc.ent_ceo_no,
			ec.ent_nm ,
			rc.sell_products_no,
			p.products_nm ,
			rc.rental_contract_status,
			rc.contract_quantity,
			rc.contract_period,
			rc.rental_start_date,
			rc.rental_end_date,
			rc.rental_cancel_date,
			rc.contract_date,
			rc.rental_contract_no
		from
			rental_contract rc LEFT JOIN  ent_ceo ec 
			ON rc.ent_ceo_no = ec.ent_ceo_no
			INNER JOIN sell_products sp 
			ON rc.sell_products_no = sp.sell_products_no
			INNER JOIN products p 
			ON sp.products_no = p.products_no
		<where>
			<if test="searchValue != null and searchValue !=''">
				${searchKey} LIKE CONCAT('%', #{searchValue}, '%');
			</if>
		</where>
	</select>	
	
	
	
	<select id="getContractList" parameterType="string" resultMap="contractResultMap">
		/* 입점업체과 고객 렌탈 계약정보 조회 */
		select
			rc.cust_id,
			rc.ent_ceo_no,
			ec.ent_nm ,
			rc.sell_products_no,
			p.products_nm ,
			rc.rental_contract_status,
			rc.contract_quantity,
			rc.contract_period,
			rc.rental_start_date,
			rc.rental_end_date,
			rc.rental_cancel_date,
			rc.contract_date,
			rc.rental_contract_no
		from
			rental_contract rc LEFT JOIN  ent_ceo ec 
			ON rc.ent_ceo_no = ec.ent_ceo_no
			INNER JOIN sell_products sp 
			ON rc.sell_products_no = sp.sell_products_no
			INNER JOIN products p 
			ON sp.products_no = p.products_no;
	
	</select>
	
</mapper>


