<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="content">
		<div class="content-header">
            <div>
                <h2 class="content-title card-title" th:text="@{#}"></h2>
            </div>
        </div>
        <div class="card mb-4 col-8">
        	<form id="addProductInfoForm" th:action="@{/admin/productInfo/addCategory}" method="post">	
                 <div class="card-body">
	           		 <div class="col-12">
                        <div class="row gx-4">
                            <aside class="col-lg-3 border-end">
                                <nav class="nav nav-pills flex-column mb-4">
                                    <a class="nav-link active" aria-current="page" th:href="@{/admin/productInfo/addCategory}">카테고리</a>
                                    <a class="nav-link" th:href="@{/admin/productInfo/addBrand}">브랜드</a>
                                    <a class="nav-link" th:href="@{/admin/productInfo/addItem}">품목</a>
                                    <a class="nav-link" th:href="@{/admin/productInfo/addModel}">모델</a>
                                    <a class="nav-link" th:href="@{/admin/productInfo/addBenefit}">전체혜택</a>
                                    <a class="nav-link" th:href="@{/admin/productInfo/addCategorySpec}">카테고리별/상세스펙</a>
                                    <a class="nav-link" th:href="@{/admin/productInfo/addModelSpec}">모델별/상세스펙</a>
                                </nav>
                            </aside>
                            <div class="col-lg-9">
                                <section class="content-body p-xl-4">
                                    <form>
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">대분류코드</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" placeholder="대분류코드를 입력해주세요" />
                                            </div>
                                            <!-- col.// -->
                                        </div>
                                        <!-- row.// -->
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">대분류</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" placeholder="대분류를 입력해주세요" />
                                            </div>
                                            <!-- col.// -->
                                        </div>
                                        <!-- row.// -->
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">중분류코드</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" placeholder="중분류코드를 입력해주세요" />
                                            </div>
                                            <!-- col.// -->
                                        </div>
                                        <!-- row.// -->
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">중분류</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" placeholder="중분류를 입력해주세요" />
                                            </div>
                                            <!-- col.// -->
                                        </div>
                                        <!-- row.// -->
                                        <div class="row mb-4">
                                            <label class="col-lg-3 col-form-label">소분류</label>
                                            <div class="col-lg-9">
                                                <input type="text" class="form-control" placeholder="소분류를 입력해주세요" />
                                            </div>
                                            <!-- col.// -->
                                        </div>
                                        <!-- row.// -->                        
                                        <br/>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-outline-success" type="submit">중복체크</button>
                                            <button class="btn btn-primary" type="submit">등록하기</button>
                                        </div>
                                    </form>
                                </section>
                                <!-- content-body .// -->
                            </div>
                            <!-- col.// -->
                        </div>
                        <!-- row.// -->
                    </div>
                    <!-- card body end// -->
                 </div>
        	</form>
        </div>
	</th:block>

</html>
