<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default}">

	<th:block layout:fragment="jsFile">
	    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script>
			$('.remove-btn').click(e => {
				e.preventDefault();
				const brandNo = $(e.target).data('brandNo');
				
				Swal.fire({
					  title: "브랜드 삭제",
					  text: "브랜드를 삭제하시겠습니까?",
					  icon: "warning",
					  showCancelButton: true,
					  confirmButtonColor: "#3085d6",
					  cancelButtonColor: "#d33",
					  confirmButtonText: "삭제"
					}).then((result) => {
					  if (result.isConfirmed) {
						$.ajax({  
				            url: '/admin/productInfo/removeBrand',
				            method: 'post',
				            data: { 'brandNo': brandNo },
				            dataType: 'json',
				            success: function(response) {
							    Swal.fire({
							      title: "삭제 완료",
							      text: "삭제되었습니다.",
							      icon: "success"
							    }).then(() => {
							    	location.reload();
		                        });
		                    }
		                });
		            }
		        });
		    });	
		</script>
	</th:block>
	
	<!-- 본문 content 영역 -->
	<th:block layout:fragment="content">
	    <div class="content-header">
	        <h2 class="content-title card-title" th:text="${title}"></h2>
	    </div>
	
	    <div class="card mb-4 col-12">
	        <div class="card-body">
	            <div class="row gx-4">
	
	                <!-- 사이드 메뉴 -->
	                <aside class="col-lg-2 border-end">
	                    <nav class="nav nav-pills flex-column mb-4">
	                        <a class="nav-link" th:href="@{/admin/productInfo/categoryList}">카테고리</a>
	                        <a class="nav-link active" th:href="@{/admin/productInfo/brandList}">브랜드</a>
	                        <a class="nav-link" th:href="@{/admin/productInfo/itemList}">품목</a>
	                        <a class="nav-link" th:href="@{/admin/productInfo/modelList}">모델</a>
	                        <a class="nav-link" th:href="@{/admin/productInfo/benefitList}">전체혜택</a>
	                        <a class="nav-link" th:href="@{/admin/productInfo/categorySpecList}">카테고리별/상세스펙</a>
	                        <a class="nav-link" th:href="@{/admin/productInfo/modelSpecList}">모델별/상세스펙</a>
	                    </nav>
	                </aside>
	
	                <!-- 브랜드 목록 -->
	                <div class="col-lg-10">
	                    <form id="productInfoListForm" th:action="@{/admin/productInfo/brandList}" method="post">
	                        <div class="table-responsive">
	                            <table class="table table-hover text-center">
	                                <thead>
	                                    <tr>
	                                        <th>No.</th>
	                                        <th>브랜드코드</th>
	                                        <th>브랜드명</th>
	                                        <th>사용유무</th>
	                                        <th>등록일자</th>
	                                        <th>수정일자</th>
	                                        <th>수정/삭제</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr th:each="l, index : ${brandList}" th:if="${!#lists.isEmpty(brandList)}">
	                                        <td th:text="${index.count}">1</td>
	                                        <td th:text="${l.brandNo}">brand_1</td>
	                                        <td th:text="${l.brandName}">삼성</td>
	                                        <td>
	                                            <span class="badge rounded-pill"
	                                                  th:classappend="${l.useStatus == '사용중'} ? 'alert-success' : 'alert-danger'"
	                                                  th:text="${l.useStatus}">사용중</span>
	                                        </td>
	                                        <td th:text="${l.brandRegDate}">2023-01-01 10:00:00</td>
	                                        <td th:text="${l.brandRevDate}">2023-01-01 10:00:00</td>
	                                        <td>
	                                            <div class="dropdown">
	                                                <a href="#" class="btn btn-light rounded btn-sm font-sm" data-bs-toggle="dropdown">
	                                                    <i class="material-icons md-more_horiz"></i>
	                                                </a>
	                                                <div class="dropdown-menu">
	                                                    <a class="dropdown-item" th:href="@{/admin/productInfo/modifyBrand(brandNo=${l.brandNo})}">수정</a>
	                                                    <a class="dropdown-item text-danger remove-btn" href="#" th:data-brand-no=${l.brandNo}>삭제</a>
	                                                </div>
	                                            </div>
	                                        </td>
	                                    </tr>
	                                    <tr th:unless="${not #lists.isEmpty(brandList)}">
	                                        <td colspan="7">등록된 브랜드가 없습니다.</td>
	                                    </tr>
	                                </tbody>
	                            </table>
	                        </div>
	                    </form>
	                </div>
	
	            </div>
	        </div>
	    </div>
	</th:block>
</html>
