<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script>
			/**
			* 브랜드명 중복체크
			*/
			$('#modifyBrandBtn').click(function() {
				const brandName = $('#brandName').val();
		
				if (!brandName) {
					alert('브랜드명을 입력해주세요');
					$('#brandName').focus();
					return;
				}
		
				$.ajax({
					url : '/admin/productInfo/brandNameCheck',
					method : 'post',
					data : {
						'brandName' : brandName
					},
					dataType : 'json'
				}).done(function(isDuplicate) {
					if (isDuplicate) {
						alert('이미 등록된 브랜드명 입니다.');
						$('#brandName').focus();
						return;
					}
		
					$('#modifyProductInfoForm').submit();
				}).fail(function(jqXHR, textStatus, error) {
					console.log("에러 발생:", textStatus, error);
					alert('혜택명 확인 중 오류가 발생했습니다.');
				});
			});
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="content">
		<div class="content-header">
            <div>
                <h2 class="content-title card-title" th:text="${title}"></h2>
            </div>
        </div>
		<div class="d-flex align-items-center justify-content-center">        
	        <div class="card mb-4 col-7">
		        <div class="card-body">
		            <div class="row gx-4">
		                <!-- 본문 영역 -->
		                <div class="col-lg-12">
		                    <form id="modifyProductInfoForm" th:action="@{/admin/productInfo/modifyBrand}" method="post" th:object="${brandInfo}">
		                    	<section class="content-body p-xl-4">
		                        	  
		                        	<!-- Hidden Inputs -->
		                            <input type="hidden" id="brandNo" name="brandNo" th:value="*{brandNo}"/>
		                            <input type="hidden" id="managerId" name="managerId" th:value="*{managerId}"/>
									<!-- 수정 영역 -->
		                            <div class="mb-4">
		                            	<label class="form-label fs-6" for="brandName">브랜드명</label>
		                            	<input type="text" id="brandName" name="brandName" th:value="*{brandName}" class="form-control" placeholder="브랜드명을 입력해주세요" />
		                            </div>
		                            <br/>
		                            <!-- 버튼 -->
		                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
							            <div class="col-md-2 col-2 ms-auto">
							            	<button type="button" id="modifyBrandBtn" 
							            			class="btn btn-success w-100 rounded font-lg hover-up text-white justify-content-center fs-6" >수정</button>
							            </div>
							            <div class="col-md-2 col-2">
							            	<button type="reset" onclick="location.href='/admin/productInfo/brandList'" 
							            			class="btn btn-warning w-100 rounded font-lg hover-up text-white justify-content-center fs-6" >수정취소</button>
							            </div>
		          					</div>
		                    	</section>
		                    </form>
		                </div>
		            </div>
		        </div>
	        </div>
		</div>        
	</th:block>
</html>