<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/myPageDefault}">


	<!-- head 삽입공간 -->
	
	<head>
	
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://js.tosspayments.com/v1/billing"></script>
	</th:block>
	
	
	<th:block layout:fragment="jsScript">
		<script type="text/javascript">

			document.addEventListener('DOMContentLoaded', function () {
				
			    document.querySelectorAll('.cancelBtn').forEach(function (btn) {
			        btn.addEventListener('click', function () {
			            const orderId = this.getAttribute('data-order-id');
			            const paymentCompletedNo = this.getAttribute('data-payment-completed-no');
	
			            if (!orderId) {
			                Swal.fire("오류", "orderId가 없습니다.", "error");
			                return;
			            }
	
			            const swalWithBootstrapButtons = Swal.mixin({
			                customClass: {
			                    actions: 'w-50 justify-content-around',
			                    confirmButton: "btn btn-success",
			                    cancelButton: "btn btn-danger"
			                },
			                buttonsStyling: false
			            });
	
			            swalWithBootstrapButtons.fire({
			                title: "주문취소",
			                text: "정말로 주문을 취소하시겠습니까?",
			                icon: "warning",
			                showCancelButton: true,
			                confirmButtonText: "취소 진행",
			                cancelButtonText: "아니요",
			                reverseButtons: true
			            }).then((result) => {
			                if (result.isConfirmed) {
			                    fetch('/customer/payment/cancel', {
			                        method: 'POST',
			                        headers: {
			                            'Content-Type': 'application/x-www-form-urlencoded'
			                        },
			                        body: new URLSearchParams({ orderId: orderId,
			                        	 						paymentCompletedNo: paymentCompletedNo
			                        	 					  })
			                    })
			                    .then(async res => {
								    const text = await res.text();
								
								    if (res.ok) {
								        swalWithBootstrapButtons.fire({
								            title: "처리 완료",
								            text: text,
								            icon: "success"
								        }).then(() => {
								            location.reload();
								        });
								    } else {
								        swalWithBootstrapButtons.fire({
								            title: "처리 실패",
								            text: text,
								            icon: "error"
								        });
								    }
								})
			                    .catch(err => {
			                        console.error("에러:", err);
			                        Swal.fire("오류", "주문취소 중 오류가 발생했습니다.", "error");
			                    });
			                } else if (result.dismiss === Swal.DismissReason.cancel) {
			                    swalWithBootstrapButtons.fire({
			                        title: "중단됨",
			                        text: "주문 취소가 중단되었습니다.",
			                        icon: "info"
			                    });
			                }
			            });
			        });
			    });
			});


			document.addEventListener("DOMContentLoaded", function () {
			    document.querySelectorAll('.modifyCardBtn').forEach(function (btn) {
			        btn.addEventListener('click', function () {
			            const customerKey = this.getAttribute('data-customer-key');
			            const tossPayments = TossPayments("test_ck_GePWvyJnrKvyQXaXB74bVgLzN97E"); 

			            tossPayments.requestBillingAuth({
			                customerKey: customerKey,
			                redirectUrl: window.location.origin + "/customer/payment/modifyBilling/success"
			            });
			        });
			    });
			});
		
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
		
		
		
		<div class="product-list mb-50">
			<div class="overflow-auto" style="height: 400px;">
				<th:block th:if="${!#lists.isEmpty(PaymentList)}" th:each="l : ${PaymentList}">
					<!-- 상품1 -->
					<div class="product-cart-wrap border col-12" style="box-shadow:0 6px 12px 0 rgba(0,0,0,.04);">
						<div class="product-content-wrap mt-50 mb-30 col-8">
							<span th:text="${l.paymentStatus}">상태</span>
							<h4><a href="#" th:text="${l.prodNm}">상품명</a></h4>
							<div>
								<span th:text="|₩${#numbers.formatInteger(l.totalPrice, 3, 'COMMA')}|" style="color: black; font-size: 20px;">금액</span>
							</div>
							<div>
								<span th:text="${#strings.contains(l.rentalContractNo, 'rental') ? '렌탈' : (l.rentalContractNo == '일시불판매' ? '일반판매' : l.rentalContractNo)}" style="color: black;">계약정보</span>
								<span style="color: black;">|</span>
								<span th:text="${l.paymentCompletedDate}" style="color: black;">계약정보</span>
							</div>
							
						</div>
						<div class="product-price d-flex col-4">
							<div class="ml-100 text-center">
								<p style="font-weight:bold; color: black;font-size: 25px; padding-right: 10px;">주문취소/카드변경</p>
								<button class="btn btn-xl cancelBtn" th:data-order-id="${l.orderId}" th:data-payment-completed-no="${l.paymentCompletedNo}">취소</button>
								<button class="btn btn-xl modifyCardBtn" th:data-customer-key="${l.customerKey}">변경</button>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>

		
	</th:block> 
</html>