<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

<head>

</head>


<th:block layout:fragment="customContents">
  <main class="main">
        <div class="page-header mt-30 mb-10">
            <div class="container">
                <div>
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15 mt-40"><span class="text-body" th:text="${title}"> </span></h1>
                        </div>
                    </div>
                </div>
                <div class="mb-30 mt-30">
                    </div>
            </div>
        </div>
        <div class="container mb-10">
            <div class="row">
                <div class="col-12">
                    <div class="row product-grid">
                        <div th:if="${!#lists.isEmpty(productList)}"
                             th:each="l : ${productList}"
                             class="col-lg-1-5 col-md-4 col-12 col-sm-6">

                            <div th:if="${l != null}" class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a th:href="@{/customer/product/productDetailByProd(productsNum=${l.productsNum})}">
                                            <img th:if="${l.imageFilePath != null and not #strings.isEmpty(l.imageFilePath)}"
                                                 th:src="@{/customer/product/image/{productsNum}(productsNum=${l.productsNum})}"
                                                 th:alt="${l.productsName}"
                                                 class="default-img object-cover w-full h-full rounded-md"/>
                                            
                                        </a>
                                        <p th:unless="${l.imageFilePath != null and not #strings.isEmpty(l.imageFilePath)}">이미지 없음</p>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>

                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <div th:text="${l.productCate?.smallCategory}">카테고리</div>
                                    </div>
                                    <h2>
                                        <a th:href="@{/customer/product/productDetailByProd(productsNum=${l.productsNum})}"
                                           th:text="${l.productsName}">
                                        </a>
                                    </h2>

                                    <div class="product-card-bottom">
                                        <div class="product-price">
                                            <span class="fs-6">구매최저가 : </span>
                                            <span class="fs-6" th:text="|₩ ${#numbers.formatInteger(l.lumpPrice,3,'COMMA')}|">가격</span>
                                            <br />
                                            <span class="fs-6 text-danger">렌탈최저가 : </span>
                                            <span class="fs-6 text-danger"
                                                  th:text="|₩ ${#numbers.formatInteger(l.minRentalPrice,3,'COMMA')}|">렌탈가</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div th:if="${#lists.isEmpty(productList)}" class="col-12 text-center text-gray-600 py-10">
                            <p>해당 카테고리의 상품이 없습니다.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
   
   
   
   
   
   
   
    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <img th:src="@{/user/assets/imgs/theme/loading.gif}" alt="" />
                </div>
            </div>
        </div>
    </div> -->
    <!-- Vendor JS-->
   

</th:block>
</html>