<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="utf-8" />
	<title th:text="${title}">Nest Dashboard</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon"
		href="/manage/assets/imgs/theme/favicon.svg" />
	<!-- Template CSS -->
	<link href="/manage/assets/css/main.css?v=1.1" rel="stylesheet"
		type="text/css" />
	</head>
	
	<body>
		<main>
			<header class="main-header style-2 navbar justify-content-center">
				<div class="col-brand">
					<a href="/admin/" class="brand-wrap"> <img
						src="/manage/assets/imgs/theme/logo.svg" class="logo"
						alt="Nest Dashboard" />
					</a>
				</div>
	
			</header>
			<section class="content-main mt-80 mb-80">
				<div class="row justify-content-center mt-50">
					<div class="card mb-4 col-8 justify-content-center" th:object="${deliveryInfo}">
						<form id="modifyDeliveryForm" th:action="@{/enterprise/delivery/modifyDelivery}" method="post">
							<div class="mx-auto">
								<header class="card-header">
									<div class="row align-items-center">
										<div class="col-lg-6 col-md-6 mb-lg-0">
											<small class="text-muted"
												th:text="*{adminDeliveryInfo.delInfoNo}">주문번호 나오게 수정</small>
											<input type="hidden" id="delInfoNo" th:field="*{adminDeliveryInfo.delInfoNo}"/>
										</div>
										<div class="row align-items-end pe-4">
											<div class="col-lg-2 col-md-2 ms-auto text-md-end">
												<button type="submit" id="modifyDeliveryBtn"
													class="btn btn-success w-100 rounded font-lg hover-up text-white justify-content-center fs-6">배송정보수정</button>
											</div>
											<div class="col-md-2 col-2">
												<button type="reset" onclick="location.href='/enterprise/delivery/deliveryList'" 
														class="btn btn-warning w-100 rounded font-lg hover-up text-white justify-content-center fs-6" >상품수정취소</button>
											</div>
										</div>
									</div>
								</header>
								<!-- card-header end// -->
								<div class="card-body">
									<div class="row mb-50 mt-20 order-info-wrap">
										<div class="col-md-3">
											<article class="icontext align-items-start">
												<div class="text">
													<h6 class="mb-1">수령인명</h6>
													<p class="mb-1" th:text="*{adminDeliveryInfo.recipientNm}"></p>
												</div>
											</article>
										</div>
										<!-- col// -->
										<div class="col-md-3">
											<article class="icontext align-items-start">
												<div class="text">
													<h6 class="mb-1">배송정보</h6>
													<p class="mb-1">
														택배사 정보 : <input type="text" placeholder="택배사를 입력하세요"
															id="delCompany" th:field="*{adminDeliveryInfo.delCompany}">
													</p>
													<p class="mb-1">
														운송장 번호 : <input type="text" placeholder="운송장번호를 입력하세요"
															id="billNo" th:field="*{adminDeliveryInfo.billNo}">
													</p>
												</div>
											</article>
										</div>
										<!-- col// -->
										<div class="col-md-3">
											<article class="icontext align-items-start">
												<div class="text">
													<h6 class="mb-1">배송 주소</h6>
													<p class="mb-1" th:text="*{adminDelivery.delAddr}"></p>
													<p class="mb-1" th:text="*{adminDelivery.delDaddr}"></p>
												</div>
											</article>
										</div>
										<!-- col// -->
										<div class="col-md-3">
											<article class="icontext align-items-start">
												<div class="text">
													<h6 class="mb-1">요청사항</h6>
													<p class="mb-1" th:text="*{adminDeliveryInfo.delRequest}"></p>
												</div>
											</article>
										</div>
									
									</div>
										
								</div>
								<!-- card-body end// -->
							</div>
							<!-- card end// -->
						</form>
					</div>
				</div>
			</section>
			<footer class="main-footer text-center">
				<p class="font-xs">
					<script>
						document.write(new Date().getFullYear());
					</script>
					&copy; Nest - HTML Ecommerce Template .
				</p>
				<p class="font-xs mb-30">All rights reserved</p>
			</footer>
		</main>
		<script src="/manage/assets/js/vendors/jquery-3.6.0.min.js"></script>
		<script src="/manage/assets/js/vendors/bootstrap.bundle.min.js"></script>
		<script src="/manage/assets/js/vendors/jquery.fullscreen.min.js"></script>
		<!-- Main Script -->
		<script src="/manage/assets/js/main.js?v=1.1" type="text/javascript"></script>
		<script>
			
		</script>
	</body>
</html>