<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<footer class="main main-footer font-xs" th:fragment="footerFragment">

        <!-- !밑에서 두번째 -->
        
                <div class="container pb-30">
            <div class="row align-items-center">


                <div class="col-12 mb-30">
                    <div class="footer-bottom"></div>
                </div>

        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                        
                    <!-- !Company -->
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">KIM</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a th:href="@{/admin/productInfo/addCategory}">플랫폼상품관리</a></li>
                        
                        </ul>
                    </div>
                    <!-- !Account -->
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">PARK</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a th:href="@{/customer/transferBoard/transferBoardList}">양도양수</a></li>
                        </ul>
                    </div>
                    <!-- !Corporate -->
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">SON</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a th:href="@{/customer/member/myAccount}">회원관리</a></li>
                        </ul>
                    </div>
                    <!-- !Popular -->
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">JANG</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a th:href="@{/admin/payment/calculate}">정산관리</a></li>
                        </ul>
                    </div>
                    <!-- !Popular -->
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">JEON</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a th:href="@{/admin/product/addProduct}">판매상품관리</a></li>
                        </ul>
                    </div>
                    <!-- !Popular -->
                    <div class="footer-link-widget col">
                        <h4 class="widget-title">CHOI</h4>
                        <ul class="footer-list mb-sm-5 mb-md-0">
                            <li><a href="#">결제/배송 관리</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
                <div class="d-flex justify-content-between">
                    <p class="font-sm mb-0">&copy; 2025,06 <strong class="text-brand">한국스마트 정보교육원 54기</strong>  <br /> billeasy.store <br> 교육용 페이지 입니다. </p>
                    
                    

                <div class="mobile-social-icon mb-50">
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
                    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
                </div>

                    <div class="logo logo-width-1 d-flex ">
                        <a th:href="@{/}"><img src="/user/assets/imgs/theme/billeasy-store-removebg-preview.png" alt="logo" /></a>
                    </div>

                </div>

               
            </div>
        </div>
    </footer>
</html>