<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="header-bottom header-bottom-bg-color sticky-bar" th:fragment="headerMenuFragment">
       <div class="container">
           <div class="header-wrap header-space-between position-relative">
               <div class="logo logo-width-1 d-block d-lg-none">
                  <a th:href="@{/}"><img src="/user/assets/imgs/theme/billeasy-store-removebg-preview.png" alt="logo" /></a>
               </div>
               <div class="header-nav d-none d-lg-flex m-auto">
                   <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                       <nav>
                           <ul>
                               <li th:each="ml : ${mdCategoryList}">
                                   <a th:text="${ml.mdCategory}" href="#">TV/디지털<i class="fi-rs-angle-down"></i></a>
                                   <ul th:if="${smCategoryMap != null}" class="sub-menu">
                                       <li th:each="sm : ${smCategoryMap[ml.mdCategoryNo]}">
								           <a th:href="@{/customer/product/productList(smallCategory=${sm.smCategory})}"
								              th:text="${sm.smCategory}">
								           		소분류명
								           </a>
							           </li>
                                   </ul>
                               </li>
                                <li class="hot-deals">
                                    <a href="#">
                                        <img src="/user/assets/imgs/theme/icons/handshake-icon.png" alt="hot deals" />양도양수
                                    </a>
                                   <ul class="sub-menu">
                                       <li><a th:href="@{/customer/transferBoard/transferBoardList}" class="fs-6 ml-20">양도마켓</a></li>
                                       <li><a th:href="@{/customer/assigneeBoard/assigneeBoardList}" class="fs-6 ml-20">양수마켓</a></li>
                                   </ul>
                               </li>
                           </ul>
                       </nav>

                   </div>
               </div>
               <div class="header-action-icon-2 d-block d-lg-none">
                   <div class="burger-icon burger-icon-white">
                       <span class="burger-icon-top"></span>
                       <span class="burger-icon-mid"></span>
                       <span class="burger-icon-bottom"></span>
                   </div>
               </div>
               <div class="header-action-right d-block d-lg-none">
                   <div class="header-action-2">
                       <div class="header-action-icon-2">
                           <a href="shop-wishlist.html">
                               <img alt="Nest" src="/user/assets/imgs/theme/icons/icon-heart.svg" />
                               <span class="pro-count white">4</span>
                           </a>
                       </div>
                       <div class="header-action-icon-2">
                           <a class="mini-cart-icon" href="#">
                               <img class="svgInject" alt="Nest" src="/user/assets/imgs/theme/icons/icon-user.svg" />
                           </a>
                           <div class="cart-dropdown-wrap cart-dropdown-hm2">
                               <ul>
                                   <li>
                                       <a href="page-account.html"><i class="fi fi-rs-user mr-10"></i>My Account</a>
                                   </li>
                                   <li>
                                       <a href="page-account.html"><i class="fi fi-rs-location-alt mr-10"></i>Order Tracking</a>
                                   </li>
                                   <li>
                                       <a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My Voucher</a>
                                   </li>
                                   <li>
                                       <a href="shop-wishlist.html"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a>
                                   </li>
                                   <li>
                                       <a href="page-account.html"><i class="fi fi-rs-settings-sliders mr-10"></i>Setting</a>
                                   </li>
                                   <li>
                                       <a href="page-login.html"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>     
</html>