<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">
	
	<th:block layout:fragment="customContents">
		<section class="home-slider position-relative mb-30">
            <div class="home-slide-cover">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <div class="single-hero-slider rectangle single-animation-wrap"
                        style="background-image: url(/user/assets/imgs/slider/ex_product.jpg)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                                Don’t miss<br />
                                amazing deals
                            </h1>
                           
                            <!-- <form class="form-subcriber d-flex">
                                <input type="email" placeholder="Your emaill address" />
                                <button class="btn" type="submit">Subscribe</button>
                            </form> -->
                        </div>
                    </div>
                    <div class="single-hero-slider rectangle single-animation-wrap"
                        style="background-image: url(/user/assets/imgs/slider/ex_product2.jpg)">
                        <div class="slider-content">
                            <h1 class="display-2 mb-40">
                               Big discount <br />
                                
                            </h1>
                            <p class="mb-65">Save up to 50% off on your first order</p>
                            <!-- <form class="form-subcriber d-flex">
                                <input type="email" placeholder="Your emaill address" />
                                <button class="btn" type="submit">Subscribe</button>
                            </form> -->
                        </div>
                    </div>
                </div>
                <div class="slider-arrow hero-slider-1-arrow"></div>
            </div>
        </section>
        
        <section class="popular-categories section-padding">
            <div class="container">
                <div class="section-title">
                    <div class="title">
                        <h3>많이 찾는 BEST 카테고리</h3>
                       
                    </div>
                    <div class="slider-arrow slider-arrow-2 flex-right carausel-8-columns-arrow"
                        id="carausel-8-columns-arrows"></div>
                </div>
                <div class="carausel-8-columns-cover position-relative">
                    <div class="carausel-8-columns" id="carausel-8-columns">
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a a href="/customer/product/productList?smallCategory=TV">
                                    <img th:src="@{/user/assets/imgs/theme/icons/TV.png}"
                                        alt="TV아이콘" /></a>
                            </figure>
                            <h6>
                                <a href="shop-grid-right.html">TV </a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=세탁기">
                                    <img th:src="@{/user/assets/imgs/theme/icons/washing_machine.png}"
                                        alt="세탁기아이콘" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=세탁기">세탁기 <br />
                                    </a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=냉장고">
                                    <img th:src="@{/user/assets/imgs/theme/icons/refrigerator.png}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=냉장고">냉장고</a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=식기세척기">
                                    <img th:src="@{/user/assets/imgs/theme/icons/kitchen.png}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=식기세척기">식기세척기</a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=무선청소기">
                                    <img th:src="@{/user/assets/imgs/theme/icons/vacuum_cleaner.png}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=무선청소기">무선청소기</a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=공기청정기">
                                    <img th:src="@{/user/assets/imgs/theme/icons/Air_purifier.png}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=공기청정기">공기청정기</a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=안마의자">
                                    <img th:src="@{/user/assets/imgs/theme/icons/massage.png}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=안마의자">안마의자</a>
                            </h6>
                        </div>
                        <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="/customer/product/productList?smallCategory=침대">
                                    <img th:src="@{/user/assets/imgs/theme/icons/Bed.png}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="/customer/product/productList?smallCategory=침대">침대</a>
                            </h6>
                        </div>
                        <!-- <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/user/assets/imgs/theme/icons/category-9.svg}"
                                        alt="" /></a>
                            </figure>
                            <h6>
                                <a href="shop-grid-right.html">Noodles <br />Rice</a>
                            </h6>
                        </div> -->
                        <!-- <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/user/assets/imgs/theme/icons/category-10.svg}"
                                        alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Fastfood</a></h6>
                        </div> -->
                        <!-- <div class="card-1">
                            <figure class="img-hover-scale overflow-hidden">
                                <a href="shop-grid-right.html"><img th:src="@{/user/assets/imgs/theme/icons/category-11.svg}"
                                        alt="" /></a>
                            </figure>
                            <h6><a href="shop-grid-right.html">Ice cream</a></h6>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section-padding mb-30">
            <div class="container">
                <div class="row">
                    <h4 class="section-title style-1 mb-30 animated animated">이달의 신상 업데이트</h4>
                    <div class="col-xl-3 col-lg-4 col-md-6 mb-sm-5 mb-md-0"
                             th:if="${!#lists.isEmpty(productListAll)}"
                             th:each="l : ${productListAll}">
                        <div class="product-list-small">
							<div class="product-cart-wrap border mb-10" style="box-shadow:0 6px 12px 0 rgba(0,0,0,.04);">
	                            <article class="row align-items-center hover-up">
	                                <figure class="col-md-4 mb-0">
	                                    <a href="shop-product-right.html">
	                                        <img th:src="@{${l.imageFilePath}}" alt="" />
	                                    </a>
	                                </figure>
	                                <div class="col-md-8 mb-0 p-20" style="height: 120px;">
	                                    <h6>
	                                    	<a th:href="@{/customer/product/productDetailByProd(productsNum=${l.productsNum})}"
	                                        th:text="${l.productsName}">Nestle Original Coffee-Mate Coffee Creamer</a>
	                                    </h6>
	                                    
	                                    <div class="product-price text-body" >
	                                       렌탈최저가 : 
	                                       <span class="text-warning" 
	                                       th:text="|₩ ${#numbers.formatInteger(l.minRentalPrice,3,'COMMA')}|">$32.85</span>
	                                    </div>
	                                </div>
	                            </article>  
	                        </div>
                    	</div>
                    </div>
                </div>
            </div>
        </section>
	</th:block>
	
</html>