<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	 <head>
    </head>

       <th:block layout:fragment="content">
        <div class="screen-overlay"></div>
                <div class="content-header">
                    <h2 class="content-title">입점업체 리스트</h2>
                    <div>
                        <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> 입점업체 등록</a>
                    </div> 
                </div>  			
                	<div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>입점업체명</option>
                                    <option>계약상태</option>
                                    <option>이메일</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-6">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                  	<div class="card-body">
			<div class="table-responsive">
				<div class="table-responsive">
					<table class="table align-middle table-nowrap mb-0">
						<thead class="table-light text-center">
							<tr>		
								<th class="align-middle" scope="col">대표코드</th>
								<th class="align-middle" scope="col">입점업체명</th>
								<th class="align-middle" scope="col">연락처</th>
								<th class="align-middle" scope="col">사업자번호</th>
								<th class="align-middle" scope="col">계약상태</th>
								<th class="align-middle" scope="col">계약만료일</th>
								<th class="align-middle" scope="col">상세정보</th>
							</tr>
						</thead>
                       	 <tbody class="text-center">	
							<th:block th:if="${!#lists.isEmpty(EntList)}" th:each="l : ${EntList}">
							 <tr>	
								<td><a class="fw-bold" th:text="${l.ceoCode}">entCeoNo</a></td>
								<td th:text="${l.entName}">(주)홍홍상사></td>
								<td th:text="${l.ceoTelNo}">010-0001-0001</td>
								<td th:text="${l.entBrno}">402-00-00000</td>
								<td ><span class="badge rounded-pill alert-success" th:text="${l.entContractStatus}"></span></td>
								<td th:text="${l.contractEndDate}">2026-02-22</td>
								<td> 
								 <a	th:href="@{/admin/enterprise/entDetail(ceoCode=${l.ceoCode})}" class="btn btn-warning btn-sm text-white">상세정보</a>
								</td>
							 </tr>	
							</th:block>	
						
							 <tr th:unless="${!#lists.isEmpty(EntList)}">
							 	<td colspan="11">등록없음</td>
							 </tr>     
						 </tbody>                
                   </table>
                            <!-- table-responsive.// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
               </div>
                <!-- card end// -->
	               <div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item active"><a class="page-link" href="#">01</a></li>
						<li class="page-item"><a class="page-link" href="#">02</a></li>
						<li class="page-item"><a class="page-link" href="#">03</a></li>
						<li class="page-item"><a class="page-link dot" href="#">...</a></li>
						<li class="page-item"><a class="page-link" href="#">16</a></li>
						<li class="page-item"><a class="page-link" href="#"><i
								class="material-icons md-chevron_right"></i></a></li>
					</ul>
				</nav>
			</div>
			</th:block>
		
    
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</html>
