<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	 <head>
    </head>

       <th:block layout:fragment="content">
        <div class="screen-overlay"></div>
               <section class="content-main">
                <div class="content-header">
                    <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
                </div>
                <div class="card mb-4">
                    <div class="card-header bg-brand-2" style="height: 150px"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl col-lg flex-grow-0" style="flex-basis: 230px">
                                
                                </div>
                            </div>
                            <div class="col-xl col-lg">
                                <h3>스마트렌탈</h3>
                                <p>뭐 대충 회사 소개 하는 줄</p>
                                 <div class="col-md-12 col-lg-4 col-xl-2">
                                <article class="box">
                                    <p class="mb-0 text-muted">달 매출</p>
                                    <h5 class="text-success">238,000</h5>
                                    <p class="mb-0 text-muted">총매출</p>
                                    <h5 class="text-success mb-0">1,580,000</h5>
                                </article>
                            </div>
                            <!--  col.// -->
                            </div>
                            <!--  col.// -->
                            <div class="col-xl-12 text-md-end">
                                <select class="form-select w-auto d-inline-block">
                                    <option>등록상품</option>
                                    <option>렌탈상품</option>
                                    <option>판매상품</option>                                   
                                </select>                              
                            </div>
                            <!--  col.// -->
                        </div>
                        <!-- card-body.// -->
                        <hr class="my-4" />
                        <div class="row g-4">
                            <div class="col-sm-4 col-lg-3 col-xl-3">
                                <h6>회사소개</h6>
                                <p>
                                    대표: 김옥희 <br />
                                    info@example.com <br />
                                    063-222-1234
                                </p>
                            </div>
                            <!--  col.// -->
                            <div class="col-sm-4 col-lg-3 col-xl-3">
                                <h6>주소</h6>
                                <p>
                                    전주시 완산구 하거마1길 <br />
                                    3층 301호 <br />
                                    우편번호 : 55500
                                </p>
                            </div>
                            <!--  col.// -->
                            <div class="col-sm-4 col-xl-3 col-xl-3">
                            <h6>계약 정보</h6>
                            <p>
                                계약시작일 :  <br/>
                                계약종료일 :  <br/>
                                계약 상태 : <br/>
                                수수료율 :
                            </p>
                            </div>
                            <div class="col-sm-4 col-xl-3 col-xl-3">
                            <h6>계약 정보</h6>
                            <p>
                                계약시작일 :  <br/>
                                계약종료일 :  <br/>
                                계약 상태 : <br/>
                                수수료율 :
                            </p>
                            </div>
                            <!--  col.// -->
                        </div>
                        <!--  row.// -->
                    </div>
                    <!--  card-body.// -->
                </div>
                <!--  card.// -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">상품목록</h3>
                        <div class="row">
                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="card card-product-grid">
                                    <a href="#" class="img-wrap"> <img src="assets/imgs/items/1.jpg" alt="Product" /> </a>
                                    <div class="info-wrap">
                                        <a href="#" class="title">Product name</a>
                                        <div class="price mt-1">$179.00</div>
                                        <!-- price-wrap.// -->
                                    </div>
                                </div>
                                <!-- card-product  end// -->
                            </div>
                            <!-- col.// -->
                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="card card-product-grid">
                                    <a href="#" class="img-wrap"> <img src="assets/imgs/items/2.jpg" alt="Product" /> </a>
                                    <div class="info-wrap">
                                        <a href="#" class="title">Product name</a>
                                        <div class="price mt-1">$179.00</div>
                                        <!-- price-wrap.// -->
                                    </div>
                                </div>
                                <!-- card-product  end// -->
                            </div>
                           
                        </div>
                        <!-- row.// -->
                    </div>
                    <!--  card-body.// -->
                </div>
                <!--  card.// -->
	               <div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item active"><a class="page-link" href="#">01</a></li>
						<li class="page-item"><a class="page-link" href="#">02</a></li>
						<li class="page-item"><a class="page-link" href="#">03</a></li>
						<li class="page-item"><a class="page-link dot" href="#">...</a></li>
						<li class="page-item"><a class="page-link" href="#">16</a></li>
						<li class="page-item"><a class="page-link" href="#"><i
								class="material-icons md-chevron_right"></i></a></li>
					</ul>
				</nav>
			</div>
			</th:block>
		
    
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</html>
