<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	 <head>
    </head>

       <th:block layout:fragment="content">
    <div class="screen-overlay"></div>
    <section class="content-main">
       <!--  <div class="content-header">
           <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back</a>
        </div> -->

        <div class="card mb-4">
            <div class="card-header bg-brand-2" style="height: 150px"></div>
	
	         <div class="card-body">	 
				<div class="row align-items-center mb-4">
			   	 <div class="col-lg-4">
			        <h3 class="mb-0">스마트렌탈</h3>
			     </div>
			    	<div class="col-lg-5 text-lg-start text-end">
				        <p class="mb-0">
				            대표 ID : <span th:text="${entDetail.CeoId}">ceoId</span> <br/>
				            이메일 : <span th:text="${entDetail.CeoEmail}">ceo@example.com</span> <br/>
				            코드 : <span th:text="${entDetail.CeoNo}">EC001</span>
				        </p>
			  	  </div>
			      <div class="col-lg-3 text-end">
			        <a href="javascript:history.back()" class="btn btn-secondary btn-success btn-sm">목록으로</a>
			      </div>
				</div>
						<hr class="my-4" />
						    <div class="row g-4">
						  
						        <div class="col-sm-6 col-lg-4">
						            <h6>주소</h6>
						            <p>
						                기본주소 : <span th:text="${entDetail.entAddr}">전주시 기린대로 499 </span><br/>
						                상세주소 : <span th:text="${entDetail.entDaddr}">3층 301호</span>
						            </p>
						        </div>				    
						        <div class="col-sm-6 col-lg-4">
						            <h6>계약 정보</h6>
						            <p>
						                계약번호 : <span th:text="${entDetail.entContractNo}">ent_ceo_no</span><br />
						                계약상태 : <span th:text="${entDetail.contractStatus}">계약중</span><br />
						                계약시작일 : <span th:text="${entDetail.contractDate}">2025-01-01</span><br />
						                계약종료일 : <span th:text="${entDetail.contractEndDate}">2026-01-01</span><br />
						                정산일 : <span th:text="${entDetail.entCalDate}">매월 20일</span>
						            </p>
						        </div>
						        <div class="col-sm-6 col-lg-4">
						            <h6>수수료 정보</h6>
						            <p>
						                판매 수수료율 : <span th:text="${entDetail.feeRateSales}">1.0</span> %<br />
						                렌탈 수수료율 : <span th:text="${entDetail.feeRateRental}">0.5</span> %<br />
						                위약금 수수료율 : <span th:text="${entDetail.feeRetePenalty}">0.5</span> %<br />
						                입점비 : <span th:text="${entDetail.entryFee}">3000000</span> 원
						            </p>
						        </div>
						    </div>
						</div>
					</div>
					    </section>
					</th:block>
                    <!--  card-body.// -->
          
                <!--  card.// -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="card-title">상품목록</h3>
                        <div class="row">
                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="card card-product-grid">
                                    <a href="#" class="img-wrap"> <img src="assets/imgs/items/1.jpg" alt="Product" /> </a>
                                    <div class="info-wrap">
                                        <a href="#" class="title">Product name</a>
                                        <div class="price mt-1">$179.00</div>
                                        <!-- price-wrap.// -->
                                    </div>
                                </div>
                                <!-- card-product  end// -->
                            </div>
                            <!-- col.// -->
                            <div class="col-xl-2 col-lg-3 col-md-6">
                                <div class="card card-product-grid">
                                    <a href="#" class="img-wrap"> <img src="assets/imgs/items/2.jpg" alt="Product" /> </a>
                                    <div class="info-wrap">
                                        <a href="#" class="title">Product name</a>
                                        <div class="price mt-1">$179.00</div>
                                        <!-- price-wrap.// -->
                                    </div>
                                </div>
                                <!-- card-product  end// -->
                            </div>
                           
                        </div>
                        <!-- row.// -->
                    </div>
                    <!--  card-body.// -->
                </div>
                <!--  card.// -->
	               <div class="pagination-area mt-15 mb-50">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-start">
						<li class="page-item active"><a class="page-link" href="#">01</a></li>
						<li class="page-item"><a class="page-link" href="#">02</a></li>
						<li class="page-item"><a class="page-link" href="#">03</a></li>
						<li class="page-item"><a class="page-link dot" href="#">...</a></li>
						<li class="page-item"><a class="page-link" href="#">16</a></li>
						<li class="page-item"><a class="page-link" href="#"><i
								class="material-icons md-chevron_right"></i></a></li>
					</ul>
				</nav>
			</div>
			</th:block>
		
    
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
</html>
