<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	
	<!-- head 삽입공간 -->
	<head>
	
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
	
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="content">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">배송정보(관리자)</h2>
			</div>
	
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<form th:action="@{/admin/delivery/searchDeliveryInfoList}" method="get">
					<div class="row gx-3">
	                   <div class="col-lg-2 col-md-3 col-12">
	                       <select class="form-select" name="searchKey">
	                           <option value="delCompany" th:selected="${searchKey == 'delCompany'}">택배사</option>
	                           <option value="delProgress" th:selected="${searchKey == 'delProgress'}">배송진행상황</option>
	                           <option value="recipientNm" th:selected="${searchKey == 'recipientNm'}">수령인명</option>
	                       </select>
	                   </div>
	                   <div class="col-lg-4 col-md-5">
	                       <input type="text" name="searchValue" th:value="${searchValue}" placeholder="검색어를 입력해주세요" class="form-control" />
	                   </div>
	                   <div class="col-lg-1 col-md-1 me-auto">
						   <button type="submit" class="form-control btn btn-primary p-0 justify-content-center">검색</button>                   
	                   </div>
	                   <div class="col-lg-2 col-md-3 col-12">
	                       <select class="form-select">
	                           <option>Show 20</option>
	                           <option>Show 30</option>
	                           <option>Show 40</option>
	                       </select>
	                   </div>
	               </div>
				</form>
			</header>
			<!-- card-header end// -->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table align-middle table-nowrap mb-0">
						<thead class="table-light text-center">
							<tr>
								<th scope="col">
									<div class="form-check align-middle">
										<input class="form-check-input" type="checkbox" value="" />
									</div>
								</th>
								<th class="align-middle" scope="col">배송정보번호</th>
								<th class="align-middle" scope="col">상품코드</th>
								<th class="align-middle" scope="col">수령인명</th>
								<th class="align-middle" scope="col">택배사</th>
								<th class="align-middle" scope="col">운송장번호</th>
								<th class="align-middle" scope="col">요청사항</th>
								<th class="align-middle" scope="col">배송진행상황</th>
								<th class="align-middle" scope="col">등록일</th>
								<th class="align-middle" scope="col">출발일</th>
								<th class="align-middle" scope="col">배송완료일</th>
							</tr>
						</thead>
						<tbody class="text-center">
							<tr th:if="${!#lists.isEmpty(DeliveryInfoList)}" th:each="l : ${DeliveryInfoList}">
								<td>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:value="${l.delInfoNo}" />
									</div>
								</td>
								<td th:text="${l.delInfoNo}">0901</td>
								<td th:text="${l.sellProdNo}">상품코드</td>
								<td th:text="${l.recipientNm}">Marvin McKinney</td>
								<td th:text="${l.delCompany}">직접배송</td>
								<td th:text="${l.billNo}">직접배송</td>
								<td th:text="${l.delRequest}">문앞</td>
								<td th:text="${l.delProgress}">배송완료</td>
								<td th:text="${l.regDate}">03.12.2020</td>
								<td th:text="${l.departDate}">03.13.2020</td>
								<td th:text="${l.arriveDate}">03.14.2020</td>
							</tr>
							<tr th:unless="${!#lists.isEmpty(DeliveryInfoList)}">
                          		<td colspan="12">등록없음</td>
                            </tr>
	
						</tbody>
					</table>
				</div>
				<!-- table-responsive //end -->
			</div>
			<!-- card-body end// -->
		</div>
		<!-- card end// -->
		<div class="pagination-area mt-15 mb-50">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-start">
					<li class="page-item active"><a class="page-link" href="#">01</a></li>
					<li class="page-item"><a class="page-link" href="#">02</a></li>
					<li class="page-item"><a class="page-link" href="#">03</a></li>
					<li class="page-item"><a class="page-link dot" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">16</a></li>
					<li class="page-item"><a class="page-link" href="#"><i
							class="material-icons md-chevron_right"></i></a></li>
				</ul>
			</nav>
		</div>
	</th:block>

</html>