<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script th:inline="javascript">
			// 메인 이미지 미리보기
			$('#mainImage').change(function(){
			    $('#mainImagePreview').empty();
			    const files = this.files;
			    if (files.length > 0) {
			        const reader = new FileReader();
			        reader.onload = function (e) {
			            const img = $('<img />', {src: e.target.result, alt: '대표사진'});
			            $('#mainImagePreview').append(img);
			        }
			        reader.readAsDataURL(files[0]);
			    }
			});
			
		 	// 추가 이미지 미리보기 & 삭제
		   	$('#extraImage').change(function(){
		   	    $('#extraImagePreview').empty();
		   	    const files = this.files;
		   	    const fileList = [...files];
		   	    fileList.forEach(function(file, idx){
		   	        const imgDiv = $('<div class="col-md-6 img-box1" style="position:relative"></div>');
		   	        const lastModified = files[idx].lastModified;
		   	        const fileFullName = files[idx].name;
		   	        const dotIdx = fileFullName.lastIndexOf('.');
		   	        const fileName = (dotIdx != -1 &&  dotIdx < fileFullName.length - 1) 
		   	                            ? fileFullName.substring(0, dotIdx) 
		   	                            : fileFullName;
		   	        if(file.type.match('image.*')){
		   	            const reader = new FileReader(); 
		   	            reader.onload = function (e) { 
		   	                const img = $('<img />', {src: e.target.result, id : lastModified, alt: fileName });
		   	                const span = $('<span />', {'class': 'delete-img1', 'data-remove-key' : lastModified}).text('X');
		   	                imgDiv.append(img,span);
		   	                imgDiv.appendTo('#extraImagePreview');
		   	            } 
		   	            reader.readAsDataURL(file);
		   	        }else{
		   	            const noImage = $('<img />', { src : '/manage/assets/imgs/theme/upload.svg', id : lastModified, alt : fileName});
		   	            const span = $('<span />', {'class': 'delete-img1', 'data-remove-key' : lastModified}).text('X');
		   	            imgDiv.append(noImage, span);
		   	            imgDiv.appendTo('#extraImagePreview');
		   	        }
		   	    });
		   	});
	
	
		   	// X버튼 클릭 시 상세 이미지 파일 삭제
		   	$(document).on('click', '.delete-img2', function(){
		   	    const input = document.getElementById('thumbnails');
		   	    const files = input.files;
		   	    const dataTransfer = new DataTransfer();
		   	    const removeTargetId = $(this).attr('data-remove-key');
		   	    Array.from(files)
		   	        .filter(file => file.lastModified != removeTargetId)
		   	        .forEach(file => dataTransfer.items.add(file));
		   	    input.files = dataTransfer.files;
		   	    $(this).closest('.img-box2').remove();
		   	});
		   	
		   	/* 
		   	$(document).ready(function() {
			   	$('#addTransferBoardBtn').click(e => {
					e.preventDefault();
					const $formTags = $('#addTransferBoardForm').find('input, select, textarea');
					let isSubmit = true;
					$formTags.each((idx, element) => {
						const value = $(element).val();
						if(!value){
							$(element).focus();
							isSubmit = false;
							return false;
						}
					});	
					if(isSubmit) $('#addTransferBoardForm').submit();
				});
		   	}); */
		   	
		   	$(document).ready(function () {
		   	    const $checkbox = $('#differentaddress');
		   	    const $collapse = $('#collapseAddress');

		   	    // 체크박스 클릭 이벤트
		   	    $checkbox.on('change', function () {
		   	        if ($checkbox.is(':checked')) {
		   	            // 1. 영역 펼치기
		   	            $collapse.collapse('show');

		   	            // 2. 다시 접히지 않도록 막기
		   	            $collapse.on('hide.bs.collapse', function (e) {
		   	                e.preventDefault();
		   	            });

		   	            // 3. 다시 체크 해제 못하게 (값은 유지하되 클릭 방지)
		   	            $checkbox.prop('checked', true); // 혹시 모르니 강제 체크 상태 유지
		   	            $checkbox.on('click.prevent', function (e) {
		   	                e.preventDefault(); // 클릭 무효화
		   	                return false;
		   	            });
		   	        }
		   	    });
		   	});
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">양도 게시글 등록</h1>
                </div>
            </div>
            <form id="addTransferBoardForm" th:action="@{/customer/transferBoard/addTransferBoard}" 
            	  enctype="multipart/form-data" method="post">
            	<div class="row justify-content-between">
            		<div class="col-lg-5">
                  	  	<div class="border p-40 cart-totals ml-30 mb-50">
                        	<div class="d-flex align-items-end mb-30">
                            	<h4>메인 이미지 첨부</h4>
                        	</div>
                        	<div class="divider-2 mb-30"></div>
                        	<div class="table-responsive order_table checkout">
                            	<!-- 이미지 파일 업로드 들어갈 부분 -->
                            	<div class="card-body">
									<div>
										<input type="file" id="mainImage" name="mainImage"
											   class="form-control">
									</div>
									<div class="mt-3" id="mainImagePreview"></div>
								</div>
                        	</div>
                    	</div>
	                    <div class="border p-40 cart-totals ml-30 mb-50">
	                        <div class="d-flex align-items-end mb-30">
	                            <h4>추가 이미지 첨부</h4>
                       	 	</div>
                        	<div class="divider-2 mb-30"></div>
                        	<div class="table-responsive order_table checkout">
	                            <!-- 이미지 파일 업로드 들어갈 부분 -->
	                            <div class="card-body">
									<div class="input-group">
										<input type="file" id="extraImage" name="extraImage"
											   class="form-control" multiple>
									</div>
									<div id="extraImagePreview" class="row mt-3 mb-2"></div>
								</div>
	                        </div>
                  		</div>
                	</div>
	                <div class="col-lg-6">
	                    <div class="row">
	                        <h4 class="mb-30">계약 정보</h4>
	                            <div class="row">
	                                <div class="form-group col-lg-6">
	                                	<input id="rentalContrancNumInput" type="hidden"  th:value="${myRentalInfo.rentalContractNum}" name="rentalContractNum">
	                                	<input id="sellProductsNumInput" type="hidden" th:value="${myRentalInfo.sellProductsNum}" name="sellProductsNum">
	                                	<input id="modelNumInput" type="hidden" th:value="${myRentalInfo.modelNum}" name="modelNum">
	                                	<input id="itemNumInput" type="hidden" th:value="${myRentalInfo.itemNum}" name="itemNum">
	                                	<input id="productCategoryNumInput" th:value="${myRentalInfo.productCategoryNum}" type="hidden" name="productCategoryNum">
	                                	<input id="delInfoNoInput" th:value="${myRentalInfo.customerDeliveryInfo.delInfoNo}" type="hidden" name="customerDeliveryInfo.delInfoNo">
	                                    <input id="productNameInput" th:value="${myRentalInfo.productInfo.productsName}" type="text" name="productsName" placeholder="상품명" readonly>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="form-group col-lg-6">
	                                    <input id="contractQuantityInput" type="text" th:value="${myRentalInfo.customerContract.contractQuantity}" name="contractQuantity" placeholder="계약수량 *" readonly>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="form-group col-lg-3">
	                                    <input id="contractStartDateInput" type="text" th:value="${myRentalInfo.customerContract.rentalEndDate}" name="rentalStartDate" placeholder="계약시작일 *" readonly>
	                                </div>
	                                <div class="form-group col-lg-3">
	                                    <input id="contractEndDateInput" type="text" th:value="${myRentalInfo.customerContract.rentalEndDate}" name="contractEndDate" placeholder="계약종료일 *" readonly>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="form-group col-lg-6">
	                                    <input id="remainingMonthsInput" type="text" th:value="${myRentalInfo.remainingMonths}" name="remainingMonths" placeholder="잔여계약일(개월) *" readonly>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="form-group col-lg-6">
	                                    <input id="rentalFeeInput" type="text" th:value="${myRentalInfo.customerSellProduct.finalPrice}" name="rentalFee" placeholder="월렌탈료 *" readonly>
	                                </div>
	                            </div>
	                            <div class="ship_detail">
	                                <div class="form-group">
	                                    <div class="chek-form">
	                                        <div class="custome-checkbox">
	                                            <input class="form-check-input" type="checkbox" name="checkbox" id="differentaddress">
	                                            <label class="form-check-label label_info" data-bs-toggle="collapse" data-target="#collapseAddress" href="#collapseAddress" aria-controls="collapseAddress" for="differentaddress">
	                                            	<span>등록하려는 상품의 정보와 일치합니까?</span>
	                                            </label>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div id="collapseAddress" class="different_address collapse in">
	                                    <div class="row">
	                                        <div class="form-group col-lg-5 d-flex">
	                                            <input id="individualGrantsInput" type="text" name="individualGrants" placeholder="지원금을 입력해주세요.">
	                                        </div>
	                                    </div>
	                                    <div class="row shipping_calculator">
	                                        <div class="form-group col-lg-6">
	                                            <input id="transferTitleInput" type="text" name="transferTitle" placeholder="게시글 제목을 입력해주세요.">
	                                        </div>
	                                    </div>
	                                     <div class="form-group mb-30">
	                                		<textarea id="transferContentInput"  name="transferContent" cols="30" rows="3" placeholder="기타 상세 설명을 입력해주세요. 세부적으로 작성해 주실수록 원활한 양도 진행이 이루어집니다."></textarea>
	                            		</div>
	               						<div class="row justify-content-end">
										    <div class="col-auto">
										        <button type="submit" id="addTransferBoardBtn"
										            class="btn btn-warning rounded font-lg hover-up text-white px-3 py-2 fs-6">
										            등록
										        </button>
										    </div>
										    <div class="col-auto">
										        <a href="javascript:history.back();"
										           class="btn btn-warning rounded font-lg hover-up text-white px-3 py-2 fs-6 text-center">
										        	취소
										        </a>
										    </div>
										</div>
		                            </div>
	                            </div>
	                   		</div>
	            		</div>
	            	</div>
	            </form>
		</div>
	</th:block>
</html>