<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script th:inline="javascript">
			// 메인 이미지 미리보기
			/* $('#mainImage').change(function(){
			    $('#mainImagePreview').empty();
			    const files = this.files;
			    if (files.length > 0) {
			        const reader = new FileReader();
			        reader.onload = function (e) {
			            const img = $('<img />', {src: e.target.result, alt: '대표사진'});
			            $('#mainImagePreview').append(img);
			        }
			        reader.readAsDataURL(files[0]);
			    }
			});  */
			
			$('#mainImage').change(function() {
			    const files = this.files;
			    const previewDiv = $('#mainImagePreview');
			    previewDiv.empty();

			    // 기존 이미지 fileIdx를 data 속성에서 가져오기
			    const existingFileIdx = previewDiv.data('file-idx');

			    // 기존에 있던 삭제용 hidden input 제거 (중복 방지)
			    previewDiv.find('input[name="deleteMainImage"]').remove();

			    // 기존 이미지가 있으면 삭제용 hidden input 생성
			    if (existingFileIdx) {
			        const hiddenInput = $('<input>', {
			            type: 'hidden',
			            name: 'deleteMainImage',
			            value: existingFileIdx
			        });
			        previewDiv.append(hiddenInput);
			    }

			    if (files.length > 0) {
			        const reader = new FileReader();
			        reader.onload = function(e) {
			            const img = $('<img>', {
			                src: e.target.result,
			                alt: '대표사진',
			                style: 'max-width: 100%; max-height: 200px;'
			            });
			            previewDiv.append(img);
			        };
			        reader.readAsDataURL(files[0]);
			    }
			});




			
			
		 	// 추가 이미지 미리보기 & 삭제
		   	$('#extraImage').change(function(){
		   	    $('#extraModifyImagePreview').empty();
		   	    console.log('tset');
		   	    const files = this.files;
		   	    const fileList = [...files];
		   	    fileList.forEach(function(file, idx){
		   	        const imgDiv = $('<div class="col-md-6 img-box1" style="position:relative"></div>');
		   	        const lastModified = files[idx].lastModified;
		   	        const fileFullName = files[idx].name;
		   	        const dotIdx = fileFullName.lastIndexOf('.');
		   	        const fileName = (dotIdx != -1 &&  dotIdx < fileFullName.length - 1) 
		   	                            ? fileFullName.substring(0, dotIdx) 
		   	                            : fileFullName;
		   	        if(file.type.match('image.*')){
		   	            const reader = new FileReader(); 
		   	            reader.onload = function (e) { 
		   	                const span = $('<span />', {'class': 'delete-img1', 'data-remove-key' : lastModified}).text('X');
		   	                const img = $('<img />', {src: e.target.result, id : lastModified, alt: fileName });
		   	                imgDiv.append(span, img);
		   	                imgDiv.appendTo('#extraModifyImagePreview');
		   	            } 
		   	            reader.readAsDataURL(file);
		   	        }else{
		   	            const span = $('<span />', {'class': 'delete-img1', 'data-remove-key' : lastModified}).text('X');
		   	            const noImage = $('<img />', { src : '/manage/assets/imgs/theme/upload.svg', id : lastModified, alt : fileName});
		   	            imgDiv.append(span, noImage);
		   	            imgDiv.appendTo('#extraModifyImagePreview');
		   	        }
		   	    });
		   	});
	
		 	
	
		   	// X버튼 클릭 시 상세 이미지 파일 삭제
		   	$(document).on('click', '.delete-img1', function(){
		   	    const input = document.getElementById('extraImage');
		   	    console.log('test');
		   	    const files = input.files;
		   	    const dataTransfer = new DataTransfer();
		   	    const removeTargetId = $(this).attr('data-remove-key');
		   	    Array.from(files)
		   	        .filter(file => file.lastModified != removeTargetId)
		   	        .forEach(file => dataTransfer.items.add(file));
		   	    input.files = dataTransfer.files;
		   	    const deleteInput = $('<input />', {'type' : 'hidden', 'name' : 'deleteFile', 'value' : removeTargetId});
		   	 	$(this).closest('#extraImagePreview').append(deleteInput);
		   	    $(this).closest('.img-box1').remove();
		   	    
		   	});
		   	
		   	
		   	
		   	/*
		   	
		   	$(document).on('click', '.delete-img1', function(){
		   	    const fileIdx = $(this).data('remove-key');
		   	    const deleteInput = $('#deleteImageIds');
		   	    const currentVal = deleteInput.val();
		   	    let newVal = currentVal ? currentVal + ',' + fileIdx : fileIdx;
		   	    deleteInput.val(newVal);

		   	    // 미리보기에서 이미지 제거
		   	    $(this).closest('.img-box1').remove();
		   	});
		   	*/
		   	
		  /*  	document.querySelectorAll('.delete-img1').forEach(span => {
		   	    span.addEventListener('click', function() {
		   	        const fileIdx = this.getAttribute('data-file-idx');
		   	        fetch('/customer/transferBoard/deleteFile?fileIdx=' + fileIdx)
		   	            .then(response => {
		   	                if (response.redirected) {
		   	                    // 서버가 redirect하는 경우에도 JS 처리
		   	                    location.reload(); 
		   	                }
		   	            });
		   	    });
		   	}); */
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
        <div class="container mb-80 mt-50" th:object="${customerTransferBoardInfo}">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">양도 게시글 수정</h1>
                </div>
            </div>
            <form id="addTransferBoardForm" th:action="@{/customer/transferBoard/modifyTransferBoard}" 
            	  enctype="multipart/form-data" method="post">
            	<div class="row justify-content-between">
            		<div class="col-lg-5">
                  	  	<div class="border p-40 cart-totals ml-30 mb-50">
                        	<div class="d-flex align-items-end mb-30">
                            	<h4>메인 이미지 등록</h4>
                        	</div>
                        	<div class="divider-2 mb-30"></div>
                        	<div class="table-responsive order_table checkout">
                            	<!-- 이미지 파일 업로드 들어갈 부분 -->
                            	<div class="card-body">
									<div class="input-group">
										<input type="file" id="mainImage" name="mainImage"
											   class="form-control">
									</div>
									<div class="mt-3" id="mainImagePreview" th:data-file-idx="${mainImage[0].fileIdx}">
										<img th:src="*{uploadImage}">
										<!-- <input type="hidden" name="deleteMainImage" th:value="${mainImage[0].fileIdx}" /> -->
									</div>
								</div>
                        	</div>
                    	</div>
	                    <div class="border p-40 cart-totals ml-30 mb-50">
	                        <div class="d-flex align-items-end mb-30">
	                            <h4>추가 이미지 등록</h4>
                       	 	</div>
                        	<div class="divider-2 mb-30"></div>
                        	<div class="table-responsive order_table checkout">
	                            <!-- 이미지 파일 업로드 들어갈 부분 -->
	                            <!-- <div class="card-body">
									<div class="input-group">
										<input type="file" id="extraImage" name="extraImage"
											   class="form-control form-control-sm" multiple>
									</div>
									<div id="extraModifyImagePreview" class="row mt-3 mb-2">
										
									</div>
									<hr>
									<div id="extraImagePreview" class="row mt-3 mb-2"
										 th:if="${!#lists.isEmpty(fileList)}">
										<div th:each="fl : ${fileList}" class="col-md-6 img-box1" style="position:relative" >
											<span class="delete-img1" th:attr="data-remove-key=${fl.fileIdx}">X</span>												
											<img th:src="@{${fl.filePath}}" alt="이미지">
											<input type="hidden" name="deleteFile" th:value="${fl.fileIdx}">
										</div>
									</div>
								</div> -->
								<div class="card-body">
									<!-- 파일 업로드 인풋 -->
									<div class="input-group">
								    	<input type="file" id="extraImage" name="extraImage" class="form-control form-control-sm" multiple>
								  	</div>
	  								<div class="mt-4">
	    								<h6 class="mb-2">새 이미지</h6>
									    <div id="extraModifyImagePreview" class="row g-3">
								      		<!-- 프리뷰 영역 -->
									    </div>
									</div>
									<hr class="my-4">
									<div th:if="${!#lists.isEmpty(fileList)}" class="mt-4">
	    								<h6 class="mb-2">기존 업로드 이미지</h6>
									    <div id="extraImagePreview" class="row g-3">
									    	<div th:each="fl : ${fileList}" class="col-md-6 img-box1 position-relative">
										        <!-- 삭제 버튼 -->
										        <span class="delete-img1 position-absolute top-0 end-0 m-1 px-2 py-1 bg-danger text-white rounded" 
										              style="cursor:pointer; z-index:10;"
										              th:attr="data-remove-key=${fl.fileIdx}">X</span>
										        <!-- 이미지 -->
										        <img th:src="@{${fl.filePath}}" alt="이미지" class="img-fluid rounded border">
									      		<input type="hidden" name="basicFile" th:value="${fl.fileIdx}">
									      	</div>
									    </div>
								 	</div>
								</div>
	                        </div>
                  		</div>
                	</div>
	                <div class="col-lg-6">
	                    <div class="row">
	                        <h4 class="mb-30">계약 정보</h4>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                	<input type="hidden" name="transferBoardNum" th:value="*{transferBoardNum}" />
                                	
                                	<input id="rentalContrancNumInput" type="hidden"  th:value="*{rentalContractNum}" name="rentalContractNum">
                                	<input id="sellProductsNumInput" type="hidden" th:value="*{sellProductsNum}" name="sellProductsNum">
                                	<input id="modelNumInput" type="hidden" th:value="*{modelNum}" name="modelNum">
                                	<input id="itemNumInput" type="hidden" th:value="*{itemNum}" name="itemNum">
                                	<input id="productCategoryNumInput" th:value="*{productCategoryNum}" type="hidden" name="productCategoryNum">
                                	<input id="delInfoNoInput" th:value="*{customerDeliveryInfo.delInfoNo}" type="hidden" name="customerDeliveryInfo.delInfoNo">
                                    <input id="productNameInput" th:value="*{productInfo.productsName}" type="text" name="productsName" placeholder="상품명" readonly>
                                </div>
                            </div>
                            
                            
                            
                            <!-- <div class="row">
                                <div class="form-group col-lg-6">
                                    <input id="contractQuantityInput" type="text" th:value="*{customerContract.contractQuantity}" name="contractQuantity" placeholder="계약수량 *" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-3">
                                    <input id="contractStartDateInput" type="text" th:value="*{customerContract.rentalStartDate}" name="rentalStartDate" placeholder="계약시작일 *" readonly>
                                </div> -->
                           	<!-- <div class="row">
                                <div class="form-group col-lg-3">
                                    <input id="contractEndDateInput" type="text" th:value="*{contractEndDate}" name="contractEndDate" placeholder="계약종료일 *" readonly>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input id="remainingMonthsInput" type="text" th:value="*{remainingMonths}" name="remainingMonths" placeholder="잔여계약일(개월) *" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input id="rentalFeeInput" type="text" th:value="*{rentalFee}" name="rentalFee" placeholder="월렌탈료 *">
                                </div>
                            </div>
                            <div class="row">
                                        <div class="form-group col-lg-5 d-flex">
                                            <input id="individualGrantsInput" type="text" th:value="*{individualGrants}" name="individualGrants" placeholder="지원금을 입력해주세요.">
                                        </div>
                                    </div>
                                    <div class="row shipping_calculator">
                                        <div class="form-group col-lg-6">
                                            <input id="transferTitleInput" type="text" th:value="*{transferTitle}" name="transferTitle" placeholder="게시글 제목을 입력해주세요.">
                                        </div>
                                    </div>
                                     <div class="form-group mb-30">
                                		<textarea id="transferContentInput" th:field="*{transferContent}" name="transferContent" cols="30" rows="3" placeholder="기타 상세 설명을 입력해주세요. 세부적으로 작성해 주실수록 원활한 양도 진행이 이루어집니다."></textarea>
                            		</div>
               						<div class="row justify-content-end">
									    <div class="col-auto">
									        <button type="submit" id="addTransferBoardBtn"
									            class="btn btn-warning rounded font-lg hover-up text-white px-3 py-2 fs-6">
									            수정
									        </button>
									    </div>
									    <div class="col-auto">
									        <a href="javascript:history.back();"
									           class="btn btn-warning rounded font-lg hover-up text-white px-3 py-2 fs-6 text-center">
									        	취소
									        </a>
									    </div>
									</div>
                            
                   		</div>
            		</div>
            	</div>
            </form>
		</div>
	</th:block>
</html>