<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.enterprise.product.mapper.EnterpriseProductMapper">

	<resultMap type="EnterpriseProduct" id="EnterpriseProductMap">
	<id column="sell_products_no" 		property="sellProductsNo"></id>
	<result column="margin_ratio_no"	property="marginRatioNum"/>
	<result column="ent_ceo_no" 		property="entCeoNo"/>
	<result column="ent_emp_id"			property="entEmpId"/>
	<result column="products_no" 		property="productsNo"/>
	<result column="lump_sum_pay_price" property="lumpSumPayPrice"/>
	<result column="period" 			property="period"/>
	<result column="calculate_price" 	property="calculatePrice"/>
	<result column="final_price" 		property="finalPrice"/>
	<result column="register_date" 		property="registerDate"/>
	<result column="revision_date" 		property="revisionDate"/>
	<result column="use_status" 		property="useStatus"/>
	<result column="product_name" 		property="productName"/>
    <result column="product_image"		property="productImage"/>
    <result column="model_nm" 		property="modelName"/>
	
	</resultMap>
 
	
		<select id="getQuantityList" resultType="EnterpriseProductQuantity">
    SELECT
        sp.ent_ceo_no AS entCeoNo,
        p.products_no AS productsNo,
        p.products_nm AS productName,
        pc.small_category AS cateName,
        sp.use_status AS productStatus,
        q.quantity AS quantity,
        b.brand_nm AS brandName,
        CASE
    WHEN 
    	q.quantity = 0 THEN '품절'
    ELSE '사용중'
    END 
    	AS stockStatus
    FROM
        sell_products sp
        JOIN products p ON sp.products_no = p.products_no
        JOIN products_category pc ON p.product_category_no = pc.product_category_no
        JOIN quantity q ON sp.products_no = q.products_no
        JOIN model m ON p.model_no = m.model_no
        JOIN brand b ON m.brand_no = b.brand_no
    <where>
        <if test="searchKey != null and searchValue != null and searchValue != ''">
            <choose>
                <when test="searchKey == 'productName'">
                    AND p.products_nm LIKE CONCAT('%', #{searchValue}, '%')
                </when>
                <when test="searchKey == 'brandName'">
                    AND b.brand_nm LIKE CONCAT('%', #{searchValue}, '%')
                </when>
            </choose>
        </if>
        <if test="categoryNo != null and categoryNo != ''">
            AND p.product_category_no = #{categoryNo}
        </if>
        <if test="status != null and status != ''">
            AND sp.use_status = #{status}
        </if>
        <if test="stockStatus != null and stockStatus != ''">
            <choose>
                <when test="stockStatus == '품절'">
                    AND q.quantity = 0
                </when>
                <when test="stockStatus == '재고있음'">
                    AND q.quantity > 0
                </when>
            </choose>
        </if>
    </where>
</select>
	
	<select id="getSellProductList" resultType="ks54team01.enterprise.product.domain.EnterpriseProduct">
    SELECT
        s.sell_products_no AS sellProductsNo,
        p.products_nm AS productName,
        s.margin_ratio_no AS marginRatioNo,
        m.model_nm AS modelName,
        s.ent_ceo_no AS entCeoNo,
        s.ent_emp_id AS entEmpId,
        s.products_no AS productsNo,
        s.lump_sum_pay_price AS lumpSumPayPrice,
        s.period AS period,
        s.calculate_price AS calculatePrice,
        s.final_price AS finalPrice,
        DATE_FORMAT(s.register_date, '%Y-%m-%d %H:%i:%s') AS registerDate,
        DATE_FORMAT(s.revision_date, '%Y-%m-%d %H:%i:%s') AS revisionDate,
        s.use_status AS useStatus,
        IFNULL(f.file_path, '/manage/assets/imgs/theme/upload.svg') AS productImage
    FROM
        sell_products s
    LEFT JOIN 
        products p ON s.products_no = p.products_no
    LEFT JOIN 
        model m ON p.model_no = m.model_no
    LEFT JOIN
        files f ON f.ref_id = p.model_no AND f.file_type = 'mainImage'
    WHERE 1=1
        <if test="searchKey != null and searchValue != null and searchValue != ''">
            <if test="searchKey == 'productName'">
                AND p.products_nm LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="searchKey == 'brandName'">
                AND m.model_nm LIKE CONCAT('%', #{searchValue}, '%')
            </if>
        </if>
        <if test="categoryNo != null and categoryNo != ''">
            AND p.category_no = #{categoryNo}
        </if>
        <if test="status != null and status != ''">
            AND s.use_status = #{status}
        </if>
  		    ORDER BY s.register_date DESC
	</select>

	<insert id="addSellProduct" parameterType="EnterpriseProduct">
    INSERT INTO sell_products (
        sell_products_no,
        margin_ratio_no,
        ent_ceo_no,
        ent_emp_id,
        products_no,
        lump_sum_pay_price,
        period,
        calculate_price,
        final_price,
        register_date,
        revision_date,
        use_status
    ) VALUES (
        #{sellProductsNo},
        #{marginRatioNum},
        #{entCeoNo},
        #{entEmpId},
        #{productsNo},
        #{lumpSumPayPrice},
        #{period},
        #{calculatePrice},
        #{finalPrice},
        #{registerDate},
        #{revisionDate},
        #{useStatus}
    )
</insert>
	
	
	<select id="getSellProductByNo" resultType="ks54team01.enterprise.product.domain.EnterpriseProduct">
	    SELECT
	        s.sell_products_no AS sellProductsNo,
	        p.products_nm AS productName,
	        m.model_nm AS modelName,
	        s.lump_sum_pay_price AS lumpSumPayPrice,
	        s.period AS period,
	        s.calculate_price AS calculatePrice,
	        s.final_price AS finalPrice,
	        s.use_status AS useStatus
	    FROM 
	    	sell_products s
	    LEFT JOIN 
	    	products p ON s.products_no = p.products_no
	    LEFT JOIN 
	    	model m ON p.model_no = m.model_no
	    WHERE 
	    	s.sell_products_no = #{sellProductsNo}
	</select>
	
	
	<update id="updateSellProduct" parameterType="ks54team01.enterprise.product.domain.EnterpriseProduct">
    UPDATE 
    	sell_products
    SET
        lump_sum_pay_price = #{lumpSumPayPrice},
        calculate_price = #{calculatePrice},
        final_price = #{finalPrice},
        revision_date = NOW()
    WHERE
        sell_products_no = #{sellProductsNo}
	</update>
	
	
    <select id="countByProduct" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM sell_products
        WHERE ent_ceo_no = #{entCeoNo}
          AND products_no = #{productsNo}
          AND period = #{period}
    </select>
    
    <select id="getProductByNo" resultMap="EnterpriseProductMap" parameterType="string">
	    SELECT 
	        sp.sell_products_no,
	        sp.ent_ceo_no,
	        sp.ent_emp_id,
	        sp.products_no,
	        sp.lump_sum_pay_price,
	        sp.period,
	        sp.calculate_price,
	        sp.final_price,
	        sp.register_date,
	        sp.revision_date,
	        m.model_nm
	    FROM 
	    	sell_products sp
	    LEFT JOIN 
	    	products p ON p.products_no = sp.products_no
    	LEFT JOIN 
    		model m ON p.model_no = m.model_no
	    WHERE 
	    	sp.sell_products_no = #{sellProductsNo}
	</select>
	
	
	<select id="searchSellProductList" resultType="ks54team01.enterprise.product.domain.EnterpriseProduct">
		 SELECT
		    s.sell_products_no AS sellProductsNo,
		    p.products_nm AS productName,
		    s.margin_ratio_no AS marginRatioNo,
		    m.model_nm AS modelName,
		    s.ent_ceo_no AS entCeoNo,
		    s.ent_emp_id AS entEmpId,
		    s.products_no AS productsNo,
		    s.lump_sum_pay_price AS lumpSumPayPrice,
		    s.period AS period,
		    s.calculate_price AS calculatePrice,
		    s.final_price AS finalPrice,
		    DATE_FORMAT(s.register_date, '%Y-%m-%d %H:%i:%s') AS registerDate,
		    DATE_FORMAT(s.revision_date, '%Y-%m-%d %H:%i:%s') AS revisionDate,
		    s.use_status AS useStatus,
		    IFNULL(f.file_path, '/manage/assets/imgs/theme/upload.svg') AS mainImageData
		FROM
		    sell_products s
		LEFT JOIN products p ON s.products_no = p.products_no
		LEFT JOIN model m ON p.model_no = m.model_no
		LEFT JOIN brand b ON m.brand_no = b.brand_no 
		LEFT JOIN files f ON f.ref_id = p.model_no AND f.file_type = 'mainImage'
		<where>
		    <if test="searchKey != null and searchValue != null and searchValue != ''">
		        <choose>
		            <when test="searchKey.equals('productName')">
		                AND p.products_nm LIKE CONCAT('%', #{searchValue}, '%')
		            </when>
		            <when test="searchKey.equals('brandName')">
		                AND b.brand_nm LIKE CONCAT('%', #{searchValue}, '%')
		            </when>
		        </choose>
		    </if>
		    <if test="categoryNo != null and categoryNo != ''">
		        AND p.product_category_no = #{categoryNo}
		    </if>
		    <if test="status != null and status != ''">
		        AND s.use_status = #{status}
		    </if>
		</where>
		ORDER BY s.register_date DESC

	</select>
	
	<update id="setSaleStoppage">
    UPDATE sell_products
    SET use_status = '사용불가'
    WHERE sell_products_no = #{sellProductsNo}
	</update>
	
	<update id="unsetSaleStoppage">
	    UPDATE sell_products
	    SET use_status = '사용중'
	    WHERE sell_products_no = #{sellProductsNo}
	</update>
	
	
	<update id="updateQuantity">
	    UPDATE 
	    	quantity
	    SET 
	    	quantity = #{quantity}, revision_date = NOW()
	    WHERE 
	    	products_no = #{productsNo}
	</update>
</mapper>







