<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.enterprise.product.mapper.EnterpriseMarginRatioMapper">
	
	<select id="getEnterpriseMarginRatio" parameterType="string">
		/* 업체별 마진율 조회 */
		SELECT
			margin_ratio_no AS marginRatioNum ,
			ent_ceo_no AS EnterpriseCeoNum ,
			ent_emp_id AS EnterpriseEmployeeId ,
			period AS period ,
			margin_ratio AS marginRatio ,
			register_date AS registerDate ,
			revision_date AS revisionDate,
			use_status AS useStatus
		FROM
			margin_ratio
		WHERE
			ent_ceo_no = 'ent_ceo_1'
		ORDER BY period DESC;
	</select>
	
	
	
</mapper>







