<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.enterprise.product.mapper.EnterpriseProductMapper">

	<resultMap type="EnterpriseProduct" id="EnterpriseProductMap">
	<id column="sell_products_no" 		property="sellProductsNo"></id>
	<result column="margin_ratio_no"	property="marginRatioNum"/>
	<result column="ent_ceo_no" 		property="entCeoNo"/>
	<result column="ent_emp_id"			property="entEmpId"/>
	<result column="products_no" 		property="productsNo"/>
	<result column="lump_sum_pay_price" property="lumpSumPayPrice"/>
	<result column="period" 			property="period"/>
	<result column="calculate_price" 	property="calculatePrice"/>
	<result column="final_price" 		property="finalPrice"/>
	<result column="register_date" 		property="registerDate"/>
	<result column="revision_date" 		property="revisionDate"/>
	<result column="use_status" 		property="useStatus"/>
	<result column="product_name" 		property="productName"/>
    <result column="product_image"		property="productImage"/>
    <result column="model_name" 		property="modelName"/>
	
	</resultMap>
 
	
	<select id="getQuantityList" resultType="EnterpriseProductQuantity">
	    SELECT
	        sp.ent_ceo_no AS entCeoNo,
	        p.products_nm AS productName,
	        pc.small_category AS cateName,
	        p.products_status AS productStatus,
	        q.quantity AS quantity
	    FROM 
	    	sell_products sp
	    JOIN 
	    	products p ON sp.products_no = p.products_no
	    JOIN 
	    	products_category pc ON p.product_category_no = pc.product_category_no
	    JOIN 
	    	quantity q ON sp.products_no = q.products_no AND sp.ent_ceo_no = q.ent_ceo_no
	    GROUP BY 
	    	sp.ent_ceo_no, p.products_no;
	</select>
	
	<select id="getSellProductList" resultType="ks54team01.enterprise.product.domain.EnterpriseProduct">
		SELECT
			s.sell_products_no AS sellProductsNo, 
			p.products_nm AS productName,
			s.margin_ratio_no AS marginRatioNo, 
			m.model_nm AS modelName,
			s.ent_ceo_no AS entCeoNo, 
			s.ent_emp_id AS entEmpId, 
			s.products_no AS productsNo, 
			s.lump_sum_pay_price AS lumpSumPayPrice, 
			s.period AS period, 
			s.calculate_price AS calculatePrice, 
			s.final_price AS finalPrice, 
			DATE_FORMAT(s.register_date, '%Y-%m-%d %H:%i:%s') AS registerDate, 
			DATE_FORMAT(s.revision_date, '%Y-%m-%d %H:%i:%s') AS revisionDate, 
			s.use_status AS useStatus,
			IFNULL(f.file_path, '/manage/assets/imgs/theme/upload.svg') AS productImage
		FROM
		   sell_products s LEFT JOIN products p
 		   ON 
 		   		s.products_no = p.products_no
  		LEFT JOIN files f
 		   ON 
 		   		f.ref_id = p.model_no AND f.file_type = 'mainImage'
		JOIN model m
		ON p.model_no = m.model_no	
  		   
	</select>

	  <insert id="EnterpriseProduct" parameterType="ks54team01.enterprise.product.domain.EnterpriseProduct">
		INSERT INTO sell_product (
	        sell_products_no,
	        margin_ratio_no,          
	        ent_ceo_no,               
	        ent_emp_id,              
	        products_no,              
	        lump_sum_pay_price,       
	        period,                   
	        calculate_price,          
	        final_price,              
	        register_date,            
	        revision_date,            
	        use_status              
	    ) VALUES (
	        #{sellProductsNo},
	        #{marginRatioNo},
	        #{entCeoNo},
	        #{entEmpId},
	        #{productsNo},
	        #{lumpSumPayPrice},
	        #{period},
	        #{calculatePrice},
	        #{finalPrice},
	        #{registerDate},
	        #{revisionDate},
	        #{useStatus}
   		 )
		</insert>
	  
</mapper>







