<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/default}">


	<!-- head 삽입공간 -->
	
	<head>
	
	</head>
	
	
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>
	
	
	<th:block layout:fragment="jsScript">
		<script>
		$('#daumPostBtn').click(function(e){
			new daum.Postcode({
	            oncomplete: function(data) {
	                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

	                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
	                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
	                var addr = ''; // 주소 변수
	                var extraAddr = ''; // 참고항목 변수

	                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
	                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
	                    addr = data.roadAddress;
	                } else { // 사용자가 지번 주소를 선택했을 경우(J)
	                    addr = data.jibunAddress;
	                }

	                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
	                if(data.userSelectedType === 'R'){
	                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
	                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
	                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
	                        extraAddr += data.bname;
	                    }
	                    // 건물명이 있고, 공동주택일 경우 추가한다.
	                    if(data.buildingName !== '' && data.apartment === 'Y'){
	                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
	                    }
	                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
	                    if(extraAddr !== ''){
	                        extraAddr = ' (' + extraAddr + ')';
	                    }
	                    // 조합된 참고항목을 해당 필드에 넣는다.
	                    document.getElementById("hopeArea").value = extraAddr;
	                
	                } else {
	                    document.getElementById("hopeArea").value = '';
	                }

	                // 우편번호와 주소 정보를 해당 필드에 넣는다.
	                /* document.getElementById('memberZip').value = data.zonecode; */
	                document.getElementById("hopeArea").value = addr;
	            }
	        }).open();
		});
		
        const modal = document.querySelector('.modal');
        const btnOpenModal=document.querySelector('.openModalBtn');

        btnOpenModal.addEventListener("click", ()=>{
            modal.style.display="flex";
        });
        
        /* categoryModal_close-icon-wrap__LDSmc.addEventListener("click", e => {
            modal.style.display = "none"
        }); */
        
        document.querySelector("#modalCloseBtn").addEventListener("click", () => {
       		document.querySelector(".modal").style.display = "none";
        });
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
        <div class="container mb-80 mt-50">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">양수 게시글 등록</h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="row">
                        <h4 class="mb-30">Billing Details</h4>
                        <form method="post">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" required="" name="fname" placeholder="상품 카테고리 선택">
                                </div>
                                <div class="col-2">
		                            <div class="mb-4">
		                            	<div class="modal">
									  		<div class="categoryModal">
								   				<div class="modalHeader">
											    	<h3>필요한 제품을 선택해주세요.</h3>
											      	<button class="modal-close-btn" id="modalCloseBtn">×</button>
											    </div>
									   			<div class="modalBody">
											    	<div class="modalLeft pe-4 border-end">
											        	<ul id="middlCategoryList list-group list-group-flush">
											          		<!-- AJAX로 중분류 리스트 나열할거 -->
											          		<li class="list-group-item py-3">
											          			<a href="">TV/디지털</a>
											          		</li>
											          		<li class="list-group-item py-3">세탁가전</li>
											          		<li class="list-group-item py-3">냉장가전</li>
											          		<li class="list-group-item py-3">주방가전</li>
											          		<li class="list-group-item py-3">생활가전</li>
											          		<li class="list-group-item py-3">계절/환경</li>
											          		<li class="list-group-item py-3">건강/뷰티</li>
											          		<li class="list-group-item py-3">가구/침대</li>
											        	</ul>
										      		</div>
											      	<div class="modalRight ps-4">
											        	<div id="smallCategoryList" class="row g-3">
											         		<!-- 선택된 중분류에 따라 AJAX로 소분류 리스트 나열할거 -->
											         		<div class="col-6">
														      	<div class="form-check">
														        	<input class="form-check-input" type="radio" name="product" id="product1" value="TV">
														        	<label class="form-check-label" for="product1">TV</label>
														    	</div>
														    </div>
														    <div class="col-6">
														      	<div class="form-check">
														        	<input class="form-check-input" type="radio" name="product" id="product2" value="냉장고">
														        	<label class="form-check-label" for="product2">냉장고</label>
														    	</div>
															</div>
											        	</div>
											      	</div>
										    	</div>
									  		</div>
								  		</div>
							        </div>
	                            	<button type="button"
	                            			class="openModalBtn btn btn-info w-100 rounded text-white justify-content-center" >모달
	                            	</button>
	                            </div>                        		
                        	</div>
	                        <div class="row">
	                        	<div class="form-group col-lg-6">
	                            	<input type="text" name="billing_address" required="" placeholder="상품명 입력" />
	                        	</div>
	                     	</div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input type="text" id="hopeArea" name="billing_address" required="" placeholder="희망 설치지역 입력" />
                                </div>
                                <div class="col-2">
		                            <div class="mb-4">
		                            	<button type="button" id="daumPostBtn" 
		                            			class="btn btn-info w-100 rounded text-white justify-content-center" >주소
		                            	</button>
		                            </div>                        		
	                        	</div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input required="" type="text" name="zipcode" placeholder="희망 계약기간 입력" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <input required="" type="text" name="cname" placeholder="희망 렌탈료 입력" />
                                </div>
                            </div>
                            <div class="form-group mb-30">
                                <textarea name="detailDescription" rows="5" placeholder="기타 상세 설명을 입력해주세요."></textarea>
                            </div>
                            <div class="row align-items-end">
			                    <div class="col-md-2 col-2 ms-auto">
			                        <button type="submit"
			                        		class="btn btn-warning w-20 rounded font-lg hover-up text-white justify-content-center fs-6" >등록</button>
			                    </div>
			                    <div class="col-md-2 col-2">
			                        <button type="reset" 
			                        		class="btn btn-warning w-20 rounded font-lg hover-up text-white justify-content-center fs-6" >취소</button>
			                    </div>
        					</div>
                		</form>
                	</div>
            	</div>
        	</div>
    	</div>
	</th:block> 
</html>