<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
        <div class="container mb-30">
            <div class="row">
                <div class="col-xl-11 col-lg-12 m-auto">
                    <div class="row">
                        <div class="col-xl-9 product-info mt-30" style="background-color:#f8f8f8;">
                            <div class="product-detail accordion-detail" th:object="${assigneeBoardInfo}">
                                <div class="product-info row mb-50" style="background-color: white; box-shadow:0 6px 12px 0 rgba(0,0,0,.04);">
                                	<div class="tab-style3">
                                        <div class="entry-main-content px-3">
                                            <h2 th:if="*{productName} == null or *{productName} eq ''" th:text="*{productInfoCategory.smCategory}" class="title-detail mb-50">
                                            	SK매직 올인원 정수기 양도합니다! 곧 약정 만료됩니다.
                                            </h2>
                                            <h2 th:unless="*{productName} == null or *{productName} eq ''" th:text="*{productName}" class="title-detail mb-50">
                                            	SK매직 올인원 정수기 양도합니다! 곧 약정 만료됩니다.
                                            </h2>
                                            <div class="fs-5 row mb-3">
												<div class="fs-5 d-flex flex-column gap-2">
												    <div class="fs-5 d-flex flex-column gap-2 mb-3">
													    <div class="d-flex">
													        <div class="fw-semibold text-nowrap me-3" style="width: 120px;">마감일</div>
													        <div th:text="*{boardValidDate}" class="text-brand">2025-05-05</div>
													    </div>
													    <div class="d-flex">
													        <div class="fw-semibold text-nowrap me-3" style="width: 120px;">희망설치지역</div>
													        <div th:text="*{desiredInstallArea}" class="text-brand">서울 영등포구 버드나루로 11길</div>
													    </div>
													    <div class="d-flex">
													        <div class="fw-semibold text-nowrap me-3" style="width: 120px;">작성자</div>
													        <div th:text="*{#strings.substring(customerMember.custName, 0, 1) + #strings.repeat('*', customerMember.custName.length() - 1)}" class="text-brand"></div>
													    </div>
													</div>
												</div>
                                        	</div>
                                        <!-- Detail Info -->
                                    	</div>
                                    </div>
                                </div>
                                <div style="width: 100%; height: 3px; min-height: 1px; margin: 0px; background-color: rgba(112, 115, 124, 0.16);"></div>
                                <h3 class="mt-20 mb-20 ml-50">찾는 상품</h3>
                                <div class="product-info" style="background-color: white; box-shadow:0 6px 12px 0 rgba(0,0,0,.04);">
                                    <div class="tab-style3">
                                        <div class="entry-main-content">
                                            <h4 th:if="*{productName} == null or *{productName} eq ''" th:text="*{productInfoCategory.smCategory}">삼성크리스탈 UHDTV 85인치</h4>
											<h4 th:unless="*{productName} == null or *{productName} eq ''" th:text="*{productName}">삼성크리스탈 UHDTV 85인치</h4>
                                            <div class="tab-pane fade show active" id="Description">
                                                <div class="fs-5 d-flex flex-column gap-2 mt-3 mb-3">
												    <div class="d-flex">
												        <div class="fw-semibold flex-shrink-0 text-nowrap me-3" style="width: 120px;">희망계약기간</div>
												        <div th:text="*{remainingMonths + '개월 이하'}" class="text-brand">24개월</div>
												    </div>
												    <div class="d-flex">
												        <div class="fw-semibold flex-shrink-0 text-nowrap me-3" style="width: 120px;">희망월렌탈료</div>
												        <div th:text="|₩*{#numbers.formatInteger(rentalFee, 3, 'COMMA') + ' 이하'}" class="text-brand">₩ 20,000</div>
												    </div>
												</div>
                                                <div style="width: 100%; height: 3px; min-height: 1px; margin: 24px 0px; background-color: rgba(112, 115, 124, 0.16);"></div>
                                                <h4>기타 전달사항</h4>
                                                <p th:text="*{assigneeContent}">매월 첫째주에 방문케어 해주십니다!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 primary-sidebar sticky-sidebar mt-30">
                            <div class="sidebar-widget widget-category-2 mb-30 text-center">
                                <h5 class="section-title style-1 mb-30">🔔 내 상품 추천하기</h5>
                                <button type="button" class="applyBtn btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" disabled>
									내 계약 추천하기
								</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</th:block>
	
</html>