<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks54team01.enterprise.payment.mapper.EnterprisePaymentMapper">

	<resultMap type="EnterprisePayment" id="paymentResultMap">
	
		<id 	column="payment_completed_no" 		property="payCompNo" />
		<result column="cust_id" 					property="custId" />
		<result column="sell_products_no" 			property="sellProdNo" />
		<result column="rental_contract_no" 		property="rentalContractNo" />
		<result column="ent_ceo_no" 				property="entCeoNo" />
		<result column="ent_emp_id" 				property="entEmpId" />
		<result column="manager_id" 				property="managerId" />
		<result column="payment_type" 				property="paymentType" />
		<result column="contract_details" 			property="contractDetails" />
		<result column="payment_details" 			property="payDetails" />
		<result column="payment_count" 				property="payCount" />
		<result column="product_unit_price" 		property="prodUnitPrice" />
		<result column="total_price" 				property="totalPrice" />
		<result column="payment_completed_date" 	property="payCompDate" />
		<result column="payment_status" 			property="payStatus" />
		<result column="revision_date" 				property="revDate" />
		<result column="products_nm" 				property="prodNm" />
		
		<result column="cust_nm"					property="custNm"/>
	
			
	</resultMap>
	
	
	
	<resultMap type="EnterprisePaymentDetail" id="paymentDetailResultMap">
	
		<id 	column="rental_contract_details_no" 		property="rentalContractDetailNo" />
		<result column="paid_in_rounds" 					property="paidInRounds" />
		<result column="payment_amount" 					property="payAmount" />
		<result column="penalty_fee" 						property="penaltyFee" />
		<result column="monthly_payment_date" 				property="monthlyPayDate" />
		<result column="payment_status" 					property="payStatus" />
		<result column="unpaid_status" 						property="unpaidStatus" />
		
		<result column="cust_nm"							property="custNm"/>
	</resultMap>
	
	
	<select id="getPaymentDetailListByContractNoAndStatus" resultMap="paymentDetailResultMap">
	    SELECT
	    	c.cust_nm,
			rcd.paid_in_rounds,
			rcd.payment_amount,
			rcd.penalty_fee,
			rcd.monthly_payment_date,
			rcd.payment_status,
			rcd.unpaid_status
	    FROM 
	    	rental_contract_details rcd inner join payment p 
			on rcd.rental_contract_no = p.rental_contract_no
			inner join customer c 
			on rcd.cust_id = c.cust_id
	    WHERE 
	    	rcd.unpaid_status = #{unpaidStatus} and rcd.rental_contract_no = #{rentalContractNo}
	    group by
	    	rcd.monthly_payment_date
	    order by
	    	rcd.paid_in_rounds
	</select>
	
	<select id="getPaymentDetailListByContractNo" resultMap="paymentDetailResultMap">
	    SELECT
	    	c.cust_nm,
			rcd.paid_in_rounds,
			rcd.payment_amount,
			rcd.penalty_fee,
			rcd.monthly_payment_date,
			rcd.payment_status,
			rcd.unpaid_status
	    FROM 
	    	rental_contract_details rcd inner join payment p 
			on rcd.rental_contract_no = p.rental_contract_no
			inner join customer c 
			on rcd.cust_id = c.cust_id
	    WHERE 
	    	rcd.rental_contract_no = #{rentalContractNo}
	    group by
	    	rcd.monthly_payment_date
	    order by
	    	rcd.paid_in_rounds
	</select>
	
	
	
	
	

	<select id="getPaymentCount" parameterType="map" resultType="int">
	    SELECT 
	    	COUNT(p.payment_completed_no)
	    FROM
	        payment p INNER JOIN customer c 
	   		ON p.cust_id = c.cust_id
	    	INNER JOIN sell_products sp 
	   	 	ON p.sell_products_no = sp.sell_products_no
	   		INNER JOIN products pd 
	    	ON sp.products_no = pd.products_no
	    <where>
	        (p.rental_contract_no != '일시불판매' OR p.rental_contract_no = '일시불판매')
	        <if test="entCeoNo != null">
	            AND sp.ent_ceo_no = #{entCeoNo}
	        </if>
	        <if test="searchKey != null and searchValue != null and searchValue != ''">
	            <choose>
	                <when test="searchKey == 'custNm'">
	                    AND c.cust_nm LIKE CONCAT('%', #{searchValue}, '%')
	                </when>
	                <when test="searchKey == 'prodNm'">
	                    AND pd.products_nm LIKE CONCAT('%', #{searchValue}, '%')
	                </when>
	                <when test="searchKey == 'paymentStatus'">
	                    AND p.payment_status LIKE CONCAT('%', #{searchValue}, '%')
	                </when>
	            </choose>
	        </if>
	    </where>
	</select>

	
	
	<select id="getPaymentList" parameterType="map" resultMap="paymentResultMap">
		SELECT
		    c.cust_nm,
		    pd.products_nm,
		    MAX(p.payment_count) AS payment_count,
   			MAX(p.total_price) AS total_price,
		    p.rental_contract_no,
		    MAX(p.payment_status) AS payment_status,
   			MAX(p.payment_completed_date) AS payment_completed_date
		FROM
		    payment p INNER JOIN customer c 
		    ON p.cust_id = c.cust_id
			INNER JOIN sell_products sp 
			ON p.sell_products_no = sp.sell_products_no
			INNER JOIN products pd 
			ON sp.products_no = pd.products_no
		<where>
			(p.rental_contract_no != '일시불판매' OR p.rental_contract_no = '일시불판매')
			<if test="entCeoNo != null">
			    AND sp.ent_ceo_no = #{entCeoNo}
			</if>
			<if test="searchKey != null and searchValue != null and searchValue != ''">
				<choose>
				    <when test="searchKey == 'custNm'">
				        AND c.cust_nm LIKE CONCAT('%', #{searchValue}, '%')
				    </when>
				    <when test="searchKey == 'prodNm'">
				        AND pd.products_nm LIKE CONCAT('%', #{searchValue}, '%')
				    </when>
				    <when test="searchKey == 'paymentStatus'">
				        AND p.payment_status LIKE CONCAT('%', #{searchValue}, '%')
				    </when>
				</choose>
			</if>
		</where>
		GROUP BY
   			p.rental_contract_no
		ORDER BY
			MAX(p.payment_completed_date) DESC
		LIMIT 
			#{pageable.rowPerPage} OFFSET #{pageable.offset}
	</select>

	
</mapper>


