<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/default}">

	<head>
		<script src="https://js.tosspayments.com/v2/standard"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>




	<th:block layout:fragment="jsScript">
		<script type="text/javascript" th:inline="javascript">
		
			document.addEventListener("DOMContentLoaded", function () {
				
			    const deliveryCards = document.querySelectorAll(".product-cart-wrap");
	
			    deliveryCards.forEach(function (card) {
			        const isDefault = card.querySelector("span").textContent.trim();
	
			        if (isDefault === "기본배송지") {
			            const delNo = card.getAttribute("data-del-no");
			            const delNm = card.getAttribute("data-del-nm");
			            const delRecipientPhone = card.getAttribute("data-recipient-phone");
			            const delRequest = card.getAttribute("data-del-request");
	
			            // input에 자동 채우기
			            document.getElementById("delSelected").value = delNo;
			            document.getElementById("delName").value = delNm;
			            document.getElementById("delRecipientPhone").value = delRecipientPhone;
			            document.getElementById("delRequest").value = delRequest;
			        }
			    });
			    
			    
			    document.querySelectorAll(".product-cart-wrap .btn").forEach(function (btn) {
			        btn.addEventListener("click", function (e) {
			            e.preventDefault();
	
			            const card = btn.closest(".product-cart-wrap");
			            const delNo = card.getAttribute("data-del-no");
			            const delNm = card.getAttribute("data-del-nm");
			            const delRecipientPhone = card.getAttribute("data-recipient-phone");
			            const delRequest = card.getAttribute("data-del-request");
	
			            // 선택한 값 input에 채우기
			            document.getElementById("delSelected").value = delNo;
			            document.getElementById("delName").value = delNm;
			            document.getElementById("delRecipientPhone").value = delRecipientPhone;
			            document.getElementById("delRequest").value = delRequest;
			        });
			    });
			    
			    
			    
			});
		
		
		
			$('#paymentBtn').click(async () => {
				
				const delNameChk = document.getElementById("delName").value;
				const delRecipientNmChk = document.getElementById("delRecipientNm").value;
				
				if (!delNameChk) {
					Swal.fire('입력 오류', '배송지를 선택해주세요.', 'warning');
					return;
				}
				
				if (!delRecipientNmChk) {
				    Swal.fire('입력 오류', '수령인명을 입력해주세요.', 'warning');
				    return;
				}

				
				$('#payment-method').empty();
				$('#agreement').empty();
				main();
				$('#tossPay').modal('show');
			});
			
			async function main() {
				
				const button = document.getElementById("payment-button");
				
				 // ------  결제위젯 초기화 ------
				const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
		        const tossPayments = TossPayments(clientKey);
		        const orderId = crypto.randomUUID().replaceAll('-', '');
		        const sellProductsNo = /*[[${sellProductsNo}]]*/"";
		        const prodNo = /*[[${productsNum}]]*/"";
		        const totalPrice = /*[[${totalPrice}]]*/"";
		        const entCeoNo = /*[[${entCeoNo}]]*/"";
		        const entEmpId = /*[[${entEmpId}]]*/"";
		        const managerId = /*[[${managerId}]]*/"";
		        const orderQuantity = /*[[${orderQuantity}]]*/"";
		        const prodUnitPrice = /*[[${prodUnitPrice}]]*/"";
		        const quantity = /*[[${quantity}]]*/"";
		        const delNo = document.getElementById("delSelected").value;
		        const delRecipientNm = document.getElementById("delRecipientNm").value;
		        const delRecipientPhone = document.getElementById("delRecipientPhone").value;
		        const delRequest = document.getElementById("delRequest").value;
		        
		        // 회원 결제
		        const customerKey = /*[[${custId}]]*/ "";
		        const widgets = tossPayments.widgets({
		          customerKey,
		        });
		    	// ------ 주문의 결제 금액 설정 ------
				await widgets.setAmount({
					currency: "KRW",
					value: totalPrice,
				});
	
				await Promise.all([
					// ------  결제 UI 렌더링 ------
					widgets.renderPaymentMethods({
						selector: "#payment-method",
						variantKey: "DEFAULT",
					}),
					// ------  이용약관 UI 렌더링 ------
					widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
				]);
					        
				
		        
				// ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
				button.addEventListener("click", async function () {
					await widgets.requestPayment({
						'orderId': orderId,
						orderName: "토스 티셔츠 외 2건",
						successUrl: window.location.origin + "/customer/payment/success?sellProductsNo=" + sellProductsNo +'&prodNo='+prodNo +'&entCeoNo=' +entCeoNo + '&entEmpId=' + entEmpId
									+ '&managerId='+managerId+'&prodUnitPrice='+prodUnitPrice+'&delNo='+delNo+'&orderQuantity='+orderQuantity+'&quantity='+quantity+'&delRecipientNm='+delRecipientNm
									+'&delRecipientPhone='+delRecipientPhone+'&delRequest='+delRequest,
						failUrl: window.location.origin + "/fail.html",
						customerEmail: "customer123@gmail.com",
						customerName: "김토스",
						customerMobilePhone: "01012341234",
					});
					
				});
			};
		</script>


	</th:block>



	<th:block layout:fragment="customContents">

		<div class="modal fade custom-modal" id="tossPay"
			data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="quickViewModalLabel" aria-hidden="true">
			<div class="modal-dialog row justify-content-center">
				<div class="modal-content w-75">
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
								<div id="payment-method"></div>
								<div id="agreement"></div>
								<button class="button" id="payment-button">결제하기</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container mb-80 mt-50">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-40">
                    <h1 class="heading-2 mb-10">주문/결제</h1>
                 </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="table-responsive shopping-summery">
                        <table class="table table-wishlist">
                            <thead>
                                <tr class="main-heading text-center">
                                    <th scope="col">상품</th>
                                    <th scope="col">가격</th>
                                    <th scope="col">수량</th>
                                    <th scope="col">총액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="pt-30 text-center">
                                    <td class="product-des product-name">
                                        <h6 class="product-name text-heading" th:text="${productsName}">라온 저상형 침대</h6>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <h4 class="text-body" th:text="|₩ ${#numbers.formatInteger(prodUnitPrice,3,'COMMA')}|">$2.51 </h4>
                                    </td>
                                    
                                     <td class="product-des product-name">
                                        <h6 class="product-name" th:text="${orderQuantity} + '개'">n개</h6>
                                    </td>
                                    
                                    <td class="price" data-title="Price">
                                        <h4 class="text-brand" id="totalPrice" th:text="|₩ ${#numbers.formatInteger(totalPrice,3,'COMMA')}|">$2.51 </h4>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row mt-50">
                        <div class="col-lg-7">
                            <div class="calculate-shiping p-40 border-radius-15 border">
                                <h4 class="mb-10">배송지</h4>
                                    
								<div class="product-list mb-50">
									<div class="overflow-auto" style="height: 200px;">
										<th:block th:if="${!#lists.isEmpty(DeliveryList)}" th:each="l : ${DeliveryList}">
											<!-- 상품1 -->
											<div class="product-cart-wrap border col-12" style="box-shadow:0 6px 12px 0 rgba(0,0,0,.04);"
												 th:data-del-no="${l.delNo}" th:data-del-nm="${l.delNm}" th:data-recipient-phone="${l.recipientPhone}" th:data-del-request="${l.delRequest}">
												<div class="product-content-wrap mt-50 mb-30 col-8">
													<h4 th:text="${l.delNm}">배송지명</h4>
													<div>
														<span th:text="${l.primaryLocation}" style="color: black; font-size: 20px;">기본배송지여부</span>
													</div>
													<div>
														<span th:text="${l.delAddr}" style="color: black;">주소</span>
														<span style="color: black;">|</span>
														<span th:text="${l.delDaddr}" style="color: black;">상세주소</span>
													</div>
																				
												</div>
												<div class="product-price d-flex col-4">
													<div class=" text-center">
														<a href="#" class="btn btn-xl">선택</a>
													</div>
												</div>
											</div>
											<div th:unless="${!#lists.isEmpty(DeliveryList)}">
												<div class="product-cart-wrap border col-12" style="box-shadow:0 6px 12px 0 rgba(0,0,0,.04);" th:text="${사용가능한 배송지가 없습니다.}"></div>
											</div>
										</th:block>
										<th:block th:unless="${!#lists.isEmpty(DeliveryList)}">
											<div class="product-cart-wrap border col-12 justify-content-center mt-30" style="box-shadow:0 6px 12px 0 rgba(0,0,0,.04);">
												<span class="mt-50 mb-50" style="color: black; font-size: 20px;"> 배송지가 없습니다.</span>
											</div>
										</th:block>
									</div>
								</div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                        	<div class="calculate-shiping p-40 border-radius-15 border">
	                        	<div class="product-list mb-50">
									<div>
										<input type="text" id="delName" name="delNm" placeholder="선택한 주소" readonly>
										<input type="text" id="delRecipientNm" name="delRecipientNm" class="mt-15" placeholder="수령인명">
										<input type="hidden" id="delSelected" name="delNo">
										<input type="hidden" id="delRecipientPhone" name="delRecipientPhone">
										<input type="hidden" id="delRequest" name="delRequest">
									</div>	                        	
								</div>
                        	</div>
                        	<div>
                        		<button type="button" id="paymentBtn" class="btn mt-20 col-md-12">결제</button>
                        	</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	<th:block>
</html>