<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/layout/default}">

<head>
<script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<th:block layout:fragment="jsFile">

</th:block>




	<th:block layout:fragment="jsScript">
		<script type="text/javascript" th:inline="javascript">
		
		</script>


	</th:block>



	<th:block layout:fragment="customContents">

	
	<th:block>
</html>