<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ks54team01.customer.wishList.mapper.CustomerWishListMapper">

  	<!-- resultMap : 조회 결과를 자바 클래스(domain, dto)와 명시적으로 매핑 설정-->
  	<resultMap type="CustomerWishList" id="wishListResultMap">
		<id column="wishlist_no" property="wishListNum" />
		<result column="cust_id" property="customerId" />
		<result column="products_no" property="productsNum" />
		<result column="register_date" property="registerDate" />
		<result column="manager_id" property="managerId" />
		<result column="minimumRentalFee" property="minimumRentalFee" />
		<result column="minimumPrice" property="minimumPrice" />

		<association property="customerMember" javaType="CustomerMember">
			<id column="cust_id" property="memberId" />
			<result column="cust_nm" property="custName" />
			<result column="cust_brdt" property="custBrdt" />
			<result column="cust_addr" property="custAddr" />
			<result column="cust_daddr" property="custDaddr" />
			<result column="cust_email" property="custEmail" />
			<result column="cust_phone" property="custPhone" />		
		</association>

		<association property="productInfo" javaType="CustomerProduct">
			<id column="products_no" property="productsNum" />
			<result column="manager_id" property="managerId" />
			<result column="model_no" property="modelNum" />
			<result column="item_no" property="itemNum" />
			<result column="product_category_no" property="productCategoryNum" />
			<result column="products_nm" property="productsName" />
			<result column="products_status" property="productsStatus" />		
			<result column="products_image" property="productsImage" />
			<result column="register_date" property="registerDate" />
			<result column="revision_date" property="revisionDate" />
		</association>
		
		<association property="productInfoCategory" javaType="ProductInfoCategory">
			<id column="product_category_no" property="categoryNo" />
			<result column="large_category_no" property="lgCategoryNo" />
			<result column="large_category" property="lgCategory" />
			<result column="middle_category_no" property="mdCategoryNo" />
			<result column="middle_category" property="mdCategory" />
			<result column="small_category" property="smCategory" />
			<result column="use_status" property="useStatus" />		
		</association>
  	</resultMap>	

	<insert id="addMyWishList" parameterType="String">
		/* 관심상품 추가하기 */
		INSERT INTO wishlist
		(wishlist_no, cust_id, manager_id, products_no, register_date)
		VALUES(#{wishListNum}, #{customerId}, 'managerid1', #{productsNum}, NOW());
	</insert>

	<select id="isDuplicateProductCheck" resultType="int">
		/* 관심상품 추가 시 이미 등록되어 있는지 여부 체크 */
		SELECT 
			COUNT(wishlist_no)
		FROM 
			wishlist 
		WHERE 
			cust_id = 'personalcustid6'
			AND products_no = 'prod_5'; 
	</select>

	<delete id="removeMyWishLists" parameterType="List">
		/* 관심상품 다중 삭제하기 */	
		DELETE
		FROM
			wishlist
		WHERE
			wishlist_no IN	
			<foreach item="wishListNum" collection="list" open="(" separator="," close=")">
          		#{wishListNum}
    		</foreach>
	</delete>

	<delete id="removeMyWishList" parameterType="string">
		/* 관심상품 삭제하기 */
		DELETE
		FROM
			wishlist
		WHERE
			wishlist_no = #{wishListNum};
	</delete>

	<select id="getWishListCategory" resultMap="wishListResultMap">
	   /* 내 관심상품 목록 카테고리 조회 */
	    SELECT DISTINCT 
		    pc.middle_category
		FROM 
	    	customer c
		    INNER JOIN wishlist w ON c.cust_id = w.cust_id
		    LEFT JOIN products p ON w.products_no = p.products_no
		    INNER JOIN products_category pc ON p.product_category_no = pc.product_category_no
		    INNER JOIN sell_products sp ON p.products_no = sp.products_no
		WHERE
	  	  w.cust_id = #{customerId};
	</select>

	<select id="getMyWishList" resultMap="wishListResultMap">
		/* 내 관심상품 목록 조회 */
		SELECT DISTINCT
			w.wishlist_no ,
			c.cust_id ,
			w.products_no ,
			p.products_image ,
			p.products_nm ,
			pc.middle_category ,
			w.register_date,
			MIN(sp.final_price) OVER (PARTITION BY sp.products_no) AS minimumRentalFee,
			IFNULL(MIN(CASE WHEN sp.period = 0 THEN sp.final_price END) OVER (PARTITION BY sp.products_no), 0) AS minimumPrice
		FROM 
			customer c INNER JOIN wishlist w
			ON c.cust_id = w.cust_id
			LEFT JOIN products p 
			ON w.products_no = p.products_no
			INNER JOIN products_category pc 
			ON p.product_category_no = pc.product_category_no
			INNER JOIN sell_products sp
			ON sp.products_no = w.products_no
		WHERE
			w.cust_id = #{custId}
			<if test="viewValue != null and viewValue != '' and viewValue != '전체'">
			    AND pc.middle_category = #{viewValue}
			</if>
	</select>
	
  </mapper>