<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enterprise/layout/default}">
	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script type="text/javascript">
			$(function() {
				$('.confirmBtn').click(function(){
					const orderId = $(this).attr('data-order-id');
					const paymentKey = $(this).attr('data-payment-key');
					
					Swal.fire({
						title: '환불 승인',
						text: '정말로 이 요청을 승인하고 환불하시겠습니까?',
						icon: 'warning',
						showCancelButton: true,
						confirmButtonText: '예',
						cancelButtonText: '아니오'
					}).then((result) => {
						if(result.isConfirmed) {
							$.ajax({
								type: 'POST',
								url: '/enterprise/refund/confirm',
								data: {
									orderId: orderId,
									paymentKey: paymentKey
								},
								success: function(res) {
									Swal.fire('완료', res.message, 'success').then(() => {
										location.reload();
									});
								},
								error: function() {
									Swal.fire('오류', '환불 처리 중 문제가 발생했습니다.', 'error');
								}
							});
						}
					});
				});
				
				
				
				
				
				$('.rejectBtn').click(function(){
					const orderId = $(this).attr('data-order-id');
					const paymentKey = $(this).attr('data-payment-key');
					
					
					Swal.fire({
						title: '환불 거부',
						text: '정말로 이 요청을 거부하시겠습니까?',
						icon: 'warning',
						showCancelButton: true,
						confirmButtonText: '예',
						cancelButtonText: '아니오'
					}).then((result) => {
						if(result.isConfirmed) {
							$.ajax({
								type: 'POST',
								url: '/enterprise/refund/reject',
								data: {
									orderId: orderId,
									paymentKey: paymentKey
								},
								success: function(res) {
									Swal.fire('완료', res.message, 'success').then(() => {
										location.reload();
									});
								},
								error: function() {
									Swal.fire('오류', '환불 처리 중 문제가 발생했습니다.', 'error');
								}
							});
						}
					});
				});
				
				
				/* 페이지이동 */
				$('a.page-num').click(function(e){
					e.preventDefault();
					const currentPage = $(this).data('currentPage');
			
					const url = new URL(window.location.href);
					const params = url.searchParams;
			
					// 기존 파라미터 유지하면서 currentPage만 갱신
					params.set('currentPage', currentPage);
			
					window.location.href = `${url.pathname}?${params.toString()}`;
				});
				
				
				
			});
		
		
		</script>
	</th:block>
	
	<th:block layout:fragment="content">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title" th:text="${title}">환불요청</h2>
			</div>
	
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<form th:action="@{/enterprise/refund/refundList}" method="get">
					<div class="row gx-3">
						<div class="col-lg-2 col-md-3 col-12">
							<select class="form-select" name="searchKey">
								<option value="requestStatus" th:selected="${searchKey == 'requestStatus'}">상태</option>
							</select>
						</div>
						<div class="col-lg-4 col-md-5">
							<input type="text" name="searchValue" th:value="${searchValue}" placeholder="검색어를 입력해주세요" class="form-control" />
						</div>
						<div class="col-lg-1 col-md-1 me-auto">
							<button type="submit" class="form-control btn btn-primary p-0 justify-content-center">검색</button>                   
						</div>
					</div>
				</form>
			</header>
			<!-- card-header end// -->
			<div class="card-body">
				<div class="table-responsive">
					<table class="table align-middle table-nowrap mb-0">
						<thead class="table-light text-center">
							<tr>
								<th class="align-middle" scope="col">주문자ID</th>
								<th class="align-middle" scope="col">상품명</th>
								<th class="align-middle" scope="col">환불사유</th>
								<th class="align-middle" scope="col">환불신청날짜</th>
								<th class="align-middle" scope="col">상태</th>
								<th class="align-middle" scope="col">결과통보일</th>
								<th class="align-middle" scope="col">설정</th>								
							</tr>
						</thead>
						<tbody class="text-center">
							<tr th:if="${!#lists.isEmpty(refundList)}" th:each="l : ${refundList}">
								<td><p th:text="${l.custId}"></td>
								<td><p th:text="${l.prodNm}"></td>
								<td><p th:text="${l.refundReason}"></td>
								<td><p th:text="${l.refundDate}"></td>
								<td><p th:text="${l.requestStatus}"></td>
								<td><p th:text="${l.reviewNotificationDate}"></td>
								<td>
									<button type="button" class="btn btn-xs confirmBtn" th:if="${l.requestStatus == '입점업체검토중'}" th:data-order-id="${l.orderId}" th:data-payment-key="${l.paymentKey}">승인</button>
									<button type="button" class="btn btn-xs rejectBtn" th:if="${l.requestStatus == '입점업체검토중'}" th:data-order-id="${l.orderId}" th:data-payment-key="${l.paymentKey}" >거부</button>
									 <p th:if="${l.requestStatus == '환불승인'}">승인 완료
									 <p th:if="${l.requestStatus == '환불거부'}">신청 거부
									 
								</td>
							</tr>
							<tr th:unless="${!#lists.isEmpty(refundList)}">
								<td colspan="12"><p>환불 요청 없음</p></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- table-responsive //end -->
			</div>
			<!-- card-body end// -->
		</div>
		<!-- card end// -->
		<div class="pagination-area mt-30 mb-50">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<!-- 이전페이지 이동 -->
					<li id="prev-page" class="page-item" th:classappend="${startPageNum < 10} ? 'disabled'">
						<a class="page-link"
						   th:href="@{/enterprise/refund/refundList(currentPage=${startPageNum - 1}, searchKey=${searchKey}, searchValue=${searchValue})}">
						   <i class="material-icons md-first_page mt-5"></i>
						</a>
					</li>
					<!-- 페이지 이동  -->
					<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}" th:if="${contentRowCount > 0}">
						<li class="page-item" th:classappend="${num eq currentPage} ? 'active disabled'">
							<a class="page-link page-num"
							   href="#"
							   th:text="${num < 10 ? '0' + num : num}"
							   th:data-current-page="${num}">01</a>
						</li>
					</th:block>
					<!-- 다음페이지 이동 -->
					<li id="next-page" class="page-item" th:classappend="${(startPageNum + 10) > lastPage} ? 'disabled'">
						<a class="page-link"
						   th:href="@{/enterprise/refund/refundList(currentPage=${endPageNum + 1}, searchKey=${searchKey}, searchValue=${searchValue})}">
						   <i class="material-icons md-last_page" style="margin-top : 5px;"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</html>