<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
		
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
		<script>
			/**
			* 기업회원일 시 추가정보 입력
			*/
			 function toggleBusinessInfo() {
			        const isCorp = document.getElementById('member-corp').checked;
			        const businessInfo = document.getElementById('businessInfo');
			        businessInfo.style.display = isCorp ? 'block' : 'none';
	
			        // 필수 항목 설정 동적 변경 (선택적으로 추가 가능)
			        document.querySelector('input[name="corp-brno"]').required = isCorp;
			        document.querySelector('input[name="corp-position"]').required = isCorp;
			    };
			
		    /**
			* 이메일 인증
			*/
		    function sendVerificationCode() {
		        // 이메일 유효성 체크
		        const first = document.querySelector('input[name="email-first"]').value;
		        const last = document.querySelector('select[name="email-last"]').value;

		        if (!first || !last) {
		            alert("이메일을 정확히 입력해주세요.");
		            return;
		        }
		        // 인증번호 입력란 표시
		        document.getElementById("verify-section").style.display = "block";
		    }
			
		</script>
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
       <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                         <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1 mb-20">
                                            <h1 class="mb-30" th:text="${title}"></h1>
                                        </div>
                                        <form method="post">                                         
                                            <div class="form-group">
                                                <input type="text" id="custName" name="custName" placeholder="이름" required />                                              
                                            </div>
                                            <div class="form-group">
											    <input type="text" id="custBrdt" name="custBrdt" placeholder="생년월일" onfocus="this.type='date'" onblur="if(this.value===''){this.type='text'}" required />
											</div>
                                            <div class="form-group d-flex">
											   	<input type="text" class="w-10" placeholder="010" disabled />
											    <input type="text" class="mr-10 ml-10" placeholder="1234" required />
											    <input type="text" placeholder="5678" required />
											</div>
                                            <div class="form-group d-flex">
                                                <input type="text" class="w-60" name="email-first" placeholder="Email" required />
                                                <select class="w-auto border-1 border-radius-10 ml-10" name="email-last">
                                                    <option value="@naver.com">@naver.com</option>
                                                    <option value="@daum.net">@daum.net</option>
                                                    <option value="@google.com">@google.com</option>                                                    
                                                </select> 
                                                <button type="button" class="btn btn-heading btn-block p-10 ml-10" onclick="sendVerificationCode()">인증</button>                                               
                                            </div>
                                            <!-- 이메일 본인인증 -->
											<div class="form-group" id="verify-section" style="display:none;">
												<div class="form-group d-flex">
												    <input type="text" name="verifyCode" placeholder="인증코드 입력">
												    <button type="button" class="btn btn-heading btn-block p-10 ml-10" onclick="verifyCode()">확인</button>
											    </div>
											</div>
                                            <div class="form-group">
                                                <input type="text" id="custAddr" name="custAddr" placeholder="주소" required />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="custDaddr" name="custDaddr" placeholder="상세주소" required />
                                            </div>
                                           <!-- 회원 유형 선택 -->
										    <div class="custome-radio type-radio d-flex justify-content-evenly mb-10">
										        <div class="custome-radio">
										            <input class="form-check-input" type="radio" id="member-cust" name="custome-radio"  value="customer" onclick="toggleBusinessInfo()" checked required />
										            <label class="form-check-label" for="member-cust">개인</label>
										        </div>
										        <div class="custome-radio">
										            <input class="form-check-input" type="radio" id="member-corp" name="custome-radio"  value="corp" onclick="toggleBusinessInfo()" required />
										            <label class="form-check-label" for="member-corp">기업</label>
										        </div>
										    </div>
										    <!-- 기업 정보 입력란 -->
										    <div id="businessInfo" style="display: none; margin-top: 10px;">
										        <div class="form-group">
										            <input type="text" name="corp-brno" placeholder="사업자번호" />
										        </div>
										        <div class="form-group">
										            <input type="text" name="corp-position" placeholder="상호명" />
										        </div>
										    </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" name="add-member" th:href="@{#}">회원가입</button>
                                            </div>
                                            <p class="font-xs text-muted"><strong>참고:</strong>귀하의 개인 데이터는 이 웹사이트 전체에서 귀하의 경험을 지원하고, 귀하의 계정에 대한 액세스를 관리하고, 당사의 개인 정보 보호 정책에 설명된 기타 목적을 위해 사용됩니다.</p>
                                        </form>
                               		 </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </th:block>

</html>