<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{customer/layout/default}">

	<!-- head 삽입공간 -->
	<head>
		<!-- <style>
			#postSubmenu,
			#postSubmenu ul,
			#postSubmenu li,
			#postSubmenu a {
			    background: none !important;
			    border: none !important;
			    box-shadow: none !important;
			    outline: none !important;
			    list-style: none !important;
			    padding-left: 0 !important;
			    margin-left: 0 !important;
			    font-size: 14px;
			    color: #444;
			    text-align:right;
			}
		</style> -->
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="customContents">
       <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> My Account
                </div>
            </div>
        </div>
         <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>내 프로필</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>주문내역</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>결제/배송지관리</a>
                                        </li>
                                        <li class="nav-item">
										    <a class="nav-link" data-bs-toggle="collapse" href="#postSubmenu" role="button" aria-expanded="false" aria-controls="postSubmenu">
										        <i class="fi-rs-marker mr-10"></i>게시글관리
										    </a>
	                                    <div class="collapse" id="postSubmenu">
										    <ul class="nav flex-column ms-4">
										        <li class="nav-item">
										            <a class="nav-link" th:href="@{#}">>양도</a>
										        </li>
										        <li class="nav-item">
										            <a class="nav-link" th:href="@{#}">>양수</a>
										        </li>
										    </ul>
										</div>
										</li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>계약</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" th:href="@{/customer/login/memberLogin}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="tab-content account dashboard-content pl-50">
                                    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Hello Rosie!</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>,<br />
                                                    manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</th:block>
	
</html>