<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/default}">
	
	<!-- head 삽입공간 -->
	<head>
	
	</head>
	
	<th:block layout:fragment="jsFile">
	
	</th:block>
	
	<th:block layout:fragment="jsScript">
	
	</th:block>
	
	<!-- 페이지 삽입공간 -->
	<th:block layout:fragment="content">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title" th:text="${title}">결제완료내역(관리자)</h2>
			</div>
	
		</div>
		<div class="card mb-4">
			<header class="card-header">
				<form th:action="@{/admin/payment/searchPaymentList}" method="get">
					<div class="row gx-3">
	                   <div class="col-lg-2 col-md-3 col-12">
	                       <select class="form-select" name="searchKey">
	                           <option value="custNm" th:selected="${searchKey == 'custNm'}">회원이름</option>
	                           <option value="payStatus" th:selected="${searchKey == 'payStatus'}">주문상태</option>
	                       </select>
	                   </div>
	                   <div class="col-lg-4 col-md-5">
	                       <input type="text" name="searchValue" th:value="${searchValue}" placeholder="검색어를 입력해주세요" class="form-control" />
	                   </div>
	                   <div class="col-lg-1 col-md-1 me-auto">
						   <button type="submit" class="form-control btn btn-primary p-0 justify-content-center">검색</button>                   
	                   </div>
	                   <div class="col-lg-2 col-md-3 col-12">
	                       <select class="form-select">
	                           <option>Show 20</option>
	                           <option>Show 30</option>
	                           <option>Show 40</option>
	                       </select>
	                   </div>
	               </div>
				</form>
			</header>
			<!-- card-header end// -->
			<div class="card-body">
				<div class="table-responsive">
					<div class="table-responsive">
						<table class="table align-middle table-nowrap mb-0">
							<thead class="table-light text-center">
								<tr>
									<th scope="col">
										<div class="form-check align-middle">
											<input class="form-check-input" type="checkbox" value="" />
										</div>
									</th>
									<th class="align-middle" scope="col">주문번호</th>
									<th class="align-middle" scope="col">주문자명</th>
									<th class="align-middle" scope="col">상품코드</th>
									<th class="align-middle" scope="col">업체명</th>
									<th class="align-middle" scope="col">금액</th>
									<th class="align-middle" scope="col">주문상태</th>
									<th class="align-middle" scope="col">주문날짜</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr th:if="${!#lists.isEmpty(PaymentList)}" th:each="l : ${PaymentList}">
									<td>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" th:value="${l.payCompNo}" />
										</div>
									</td>
									<td th:text="${l.payCompNo}">0901</td>
									<td th:text="${l.customerInfo.custNm}">Marvin McKinney</td>
									<td th:text="${l.sellProdNo}">라온 LED 저상형 침대 SS</td>
									<td th:text="${l.entCeoInfo.entNm}">(주)렌탈</td>
									<td th:text="|₩${#numbers.formatInteger(l.totalPrice, 3, 'COMMA')}|">$9.00</td>
									<td><span class="badge rounded-pill" th:text="${l.payStatus}"
												th:classappend="${l.payStatus} == '1.정상결제상태(환불이아닌상태)' ? ' alert-success' : (${l.payStatus} == '3.배송후환불(환불)' ? ' alert-danger' : ' alert-warning')">취소</span></td>
									<td th:text="${l.payCompDate}">03.12.2020</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				<!-- table-responsive //end -->
			</div>
			<!-- card-body end// -->
		</div>
		<!-- card end// -->
		<div class="pagination-area mt-15 mb-50">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-start">
					<li class="page-item active"><a class="page-link" href="#">01</a></li>
					<li class="page-item"><a class="page-link" href="#">02</a></li>
					<li class="page-item"><a class="page-link" href="#">03</a></li>
					<li class="page-item"><a class="page-link dot" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">16</a></li>
					<li class="page-item"><a class="page-link" href="#"><i
							class="material-icons md-chevron_right"></i></a></li>
				</ul>
			</nav>
		</div>
	</th:block>

</html>