<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks54team01.customer.product.mapper.ProductMapper">

	<resultMap type="customerProduct" 			id="CustomerProductResultMap">
		<id column="products_no" 				property="productsNum"/>
		<result column="item_no"				property="itemNum"/>
		<result column="manager_id" 			property="managerId"/>
		<result column="model_no"				property="modelNum"/>
		<result column="product_category_no" 	property="productCategoryNum"/>
		<result column="products_nm" 			property="productsName"/>
		<result column="products_status" 		property="productsStatus"/>
		<result column="products_image" 		property="productsImage"/>
		<result column="register_date" 			property="registerDate"/>
		<result column="revision_date" 			property="revisionDate"/>
		<result column="lump_price" 			property="lumpPrice"/>
		<result column="min_rental_price" 		property="minRentalPrice"/>
		<result column="file_type" 				property="imageType"/>
		<result column="file_path" 				property="imageFilePath"/>
		<result column="max_period" 			property="maxPeriod"/>
		
		
		<association property="customerModel" 	javaType="CustomerModel">
			<id 	column="model_no" 				property="modelNo"/>
			<result column="manager_id" 			property="managerId"/> 
			<result column="brand_no"				property="brandNo"/>
			<result column="item_no" 				property="itemNo"/>
			<result column="product_category_no" 	property="prodCateNo"/>
			<result column="model_nm" 				property="modelNm"/>
			<result column="register_date" 			property="regDate"/>
			<result column="revision_date" 			property="revDate"/> 
			<result column="use_status" 			property="useStatus"/> 
		</association>
		
		
		<association property="customerProductSpec" 	javaType="CustomerProductSpec">
			<id 	column="spec_no" 					property="specNo"/>
			<result column="manager_id" 				property="managerId"/> 
			<result column="product_category_no"		property="prodCateNo"/>
			<result column="spec_nm" 					property="specNm"/>
			<result column="register_date" 				property="regDate"/>
			<result column="revision_date" 				property="revDate"/>
			<result column="use_status" 				property="useStatus"/>
		</association>
		
		

		<association property="productCate" 	javaType="ProductCate">
			<id column="product_category_no" 	property="productCateNo"/>
			<result column="pc_manager_id" 		property="managerId"/> 
			<result column="large_category_no"	property="largeCategoryNo"/>
			<result column="large_category" 	property="largeCategory"/>
			<result column="middle_category_no" property="middleCategoryNo"/>
			<result column="middle_category" 	property="middleCategory"/>
			<result column="small_category" 	property="smallCategory"/>
			<result column="pc_register_date" 	property="registerDate"/> 
			<result column="pc_revision_date" 	property="revisionDate"/> 
			<result column="use_status" 		property="use_status"/>
		</association>
		
		<collection property="customerSellProduct" ofType="CustomerSellProduct">
			<id column="sell_products_no" 		property="sellProductsNo"/>
			<result column="margin_ratio_no" 	property="marginRatioNo"/>
			<result column="ent_ceo_no" 		property="entCeoNo"/>
			<result column="ent_emp_id" 		property="entEmpId"/>
			<result column="products_no" 		property="productsNo"/>
			<result column="lump_sum_pay_price" property="lumpSumPayPrice"/>
			<result column="period" 			property="period"/>
			<result column="calculate_price"	property="calculatePrice"/>
			<result column="final_price" 		property="finalPrice"/>
			<result column="sp_register_date" 	property="registerDate"/> 
			<result column="sp_revision_date" 	property="revisionDate"/> 
			<result column="use_status" 		property="useStatus"/>
		</collection>

		<collection property="entCeo" ofType="EntCeo">
			<id column="ent_ceo_no" 			property="entCeoNo"/>
			<result column="ent_ceo_id" 		property="entCeoId"/>
			<result column="ent_ceo_nm" 		property="entCeoNm"/>
			<result column="ent_brno" 			property="entBrno"/>
			<result column="ent_nm" 			property="entNm"/>
			<result column="ent_ceo_addr" 		property="entCeoAddr"/>
			<result column="ent_ceo_daddr" 		property="entCeodaddr"/>
			<result column="ent_ceo_email" 		property="entCeoEmail"/>
			<result column="ent_bank" 			property="entBank"/>
			<result column="ent_bank_num" 		property="entBankNum"/>
			<result column="ent_ceo_phone" 		property="entCeoPhon"/>
			<result column="ec_register_date" 	property="registerDate"/> 
			<result column="ec_revision_date" 	property="ruvisionDate"/> 
		</collection>
		
		
		
		
		
		<collection property="customerModelSpecContent" ofType="CustomerModelSpecContent">
			<id 	column="spec_content_no" 			property="specContentNo"/>
			<result column="manager_id" 				property="managerId"/> 
			<result column="model_no"					property="modelNo"/>
			<result column="spec_no" 					property="specNo"/>
			<result column="spec_content" 				property="specContent"/>
			<result column="register_date" 				property="regDate"/>
			<result column="revision_date" 				property="revDate"/>
			<result column="use_status" 				property="useStatus"/>
		</collection>
		
		
		
	</resultMap>
	
	
	<resultMap type="BenefitDetail" 		id="BenefitResultMap">
		<id 	column="sell_products_no"	property="sellProdNo"/>
		<result column="period" 			property="period"/>
		<result column="ent_ceo_no" 		property="entCeoNo"/>
		<result column="products_no" 		property="prodNo"/>
		<result column="benefit_nm" 		property="benefitNm"/>
		<result column="benefit_detail" 	property="benefitDetail"/>
	</resultMap>
	
	
	<select id="getBenefitByProduct" resultMap="BenefitResultMap">
		SELECT
			sp.sell_products_no,
			sp.period,
			pb.ent_ceo_no,
			p.products_no,
			b.benefit_nm,
			pb.benefit_detail
		FROM
			sell_products sp inner JOIN products p 
			ON sp.products_no = p.products_no
			inner JOIN ent_ceo ec 
			ON sp.ent_ceo_no = ec.ent_ceo_no
			inner join quantity q 
			ON p.products_no = q.products_no and sp.ent_ceo_no = q.ent_ceo_no
			inner join products_benefit pb
			on pb.sell_products_no = sp.sell_products_no
			inner join benefit b
			on b.benefit_no = pb.benefit_no
		WHERE
			p.products_no = #{productsNum} and b.use_status = '사용중' and pb.use_status = '사용중'
		order by
			ec.ent_ceo_no , sp.period desc
	</select>
	
	
	
	<select id="getCustomerProductList" parameterType= "String" resultMap="CustomerProductResultMap">
			 SELECT
        pc.product_category_no,
        p.products_no,
        p.products_nm,
        MIN(sp.lump_sum_pay_price) AS min_lump_sum_price,  
        MIN(sp.final_price) AS min_rental_price,
        pc.middle_category,
        pc.small_category,
        ec.ent_nm,
        f.file_type,
        f.file_path
    FROM
        sell_products sp
    INNER JOIN products p
        ON sp.products_no = p.products_no
    INNER JOIN ent_ceo ec
        ON sp.ent_ceo_no = ec.ent_ceo_no
    INNER JOIN products_category pc
        ON p.product_category_no = pc.product_category_no
    LEFT JOIN files f
        ON p.model_no = f.ref_id
    WHERE
        pc.small_category = #{smallCategory}
        AND p.products_status = '활'
        AND f.file_type = 'mainImage'
    GROUP BY
        pc.product_category_no,
        p.products_no,
        p.products_nm,
        pc.middle_category,
        pc.small_category,
        ec.ent_nm,
        f.file_type,
        f.file_path
	</select>

	

	
	<select id="getProductDetailByProd" parameterType="string" resultMap="CustomerProductResultMap">
		SELECT
			sp.sell_products_no,
			p.products_nm,
			sp.lump_sum_pay_price,
			sp.period,
			sp.final_price,
			sp.register_date,
			ec.ent_nm,
			ec.ent_ceo_no,
			sp.ent_ceo_no,
			p.manager_id,
			sp.ent_emp_id,
			p.products_no,
			q.quantity,
			f.file_type, 
			f.file_path    
		FROM
			sell_products sp 
			INNER JOIN products p 
			ON sp.products_no = p.products_no
			INNER JOIN ent_ceo ec 
			ON sp.ent_ceo_no = ec.ent_ceo_no
			INNER JOIN quantity q 
			ON p.products_no = q.products_no AND sp.ent_ceo_no = q.ent_ceo_no
			LEFT JOIN files f ON p.model_no = f.ref_id AND f.file_type = 'mainImage'
		WHERE
			p.products_no = #{productsNum}
		order by
			ec.ent_ceo_no , sp.period desc;
	</select>
	
	<select id="getProductSpecList" parameterType="string" resultMap="CustomerProductResultMap">
		select
			ps.spec_nm,
			msc.spec_content
		from
			products p inner join model m
			on p.model_no = m.model_no
			inner join model_spec_content msc
			on msc.model_no = m.model_no
			inner join products_spec ps
			on ps.spec_no = msc.spec_no
		where
			p.products_no = #{productsNum}
	</select>
	
	
	<select id="getLowerPriceAndMaxPeriod" resultMap="CustomerProductResultMap">
		SELECT
			min(sp.final_price) AS min_rental_price,
			max(sp.period) AS max_period
		FROM
			sell_products sp inner JOIN products p 
			ON sp.products_no = p.products_no
			inner JOIN ent_ceo ec 
			ON sp.ent_ceo_no = ec.ent_ceo_no
			inner join quantity q 
			ON p.products_no = q.products_no and sp.ent_ceo_no = q.ent_ceo_no
		WHERE
			p.products_no = #{productsNum}
		order by
			ec.ent_ceo_no , sp.period desc
	</select>
	

</mapper>











