<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enterprise/layout/default}">
	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<th:block layout:fragment="jsFile">
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</th:block>

    <th:block layout:fragment="content">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title" th:text="${title}"></h2>
            </div>       
         </div>
         <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>제품정보</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">모델</label>
                                        <input type="text" placeholder="제품을 입력해주세요" class="form-control" id="product_name" readonly="true" value="라온 LED 저상형 침대 SS"/>
                                    </div>                            
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">개월</label>
                                                <select class="form-select">
                                                    <option>12개월</option>
                                                    <option>24개월</option>
                                                    <option>36개월</option>
                                                    <option>48개월</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">금액</label>
                                                <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" value="입력금액">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-md rounded font-sm hover-up">선택</button>
                                    </div>
                                        
                                </form>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>최종 금액</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="mb-4">
                                        <div class="row">
                                            
                                            <div class="col-lg-4">
                                                <div class="mb-4">
                                                    <label class="form-label">자동계산</label>
                                                    <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" readonly="true" value="나올금액">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="form-label">최종금액</label>
                                                <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" >
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="mb-4">
                                        <div class="row">
                                            
                                            <div class="col-lg-4">
                                                <div class="mb-4">
                                                    <label class="form-label">자동계산</label>
                                                    <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" readonly="true" value="나올금액">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="form-label">최종금액</label>
                                                <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" >
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="mb-4">
                                        <div class="row">
                                            
                                            <div class="col-lg-4">
                                                <div class="mb-4">
                                                    <label class="form-label">자동계산</label>
                                                    <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" readonly="true" value="나올금액">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="form-label">최종금액</label>
                                                <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" >
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="mb-4">
                                        <div class="row">
                                            
                                            <div class="col-lg-4">
                                                <div class="mb-4">
                                                    <label class="form-label">자동계산</label>
                                                    <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" readonly="true" value="나올금액">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="form-label">최종금액</label>
                                                <input type="text" placeholder="input인데 css를 select꺼로 사용중" class="form-select" >
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-md rounded font-sm hover-up">리스트 등록</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- card end// -->
                          <form>
                             <div class="card mb-4">
                                 <div class="card-header">
                                     <h4>최종 등록리스트</h4>
                                 </div>
                                 <div class="card-body">
                                     <p>12개월5만원방문설치사은품</p>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-4">
                                     <input type="text" placeholder="등록 수량" class="form-select">
                                 </div>
                                 <div class="col-lg-4">
                                     <button class="btn btn-md rounded font-sm hover-up">상품 등록</button>
                                 </div>
                             </div>
                         </form>
                    </div>

   </th:block>    
        <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    <!-- content-main end// -->

        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>