<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{enterprise/layout/default}">
	
	<!-- head 삽입공간 -->
	<head>
	</head>
	
	<!--  <th:block layout:fragment="jsScript">
		<script>
         $('.toggle-margin-use').on('change', function() {
             const marginId = $(this).data('id');
             const useYn = $(this).is(':checked') ? 'Y' : 'N';
         
             $.ajax({
                 type: 'POST',
                 url: '/admin/margin/updateUseYn',
                 data: { marginId, useYn },
                 success: function() {
                     alert('변경되었습니다!');
                 },
                 error: function() {
                     alert('오류 발생');
                 }
             });
         });
      </script>   -->  
	 <th:block layout:fragment="content">
        <div class="screen-overlay"></div>
               <div class="content-header">
	                    <div>
	                        <h2 class="content-title card-title">마진율 등록</h2>
	                    </div>
	                    
	                </div>
	               <div class="card mb-4">
				    <div class="card-header">
				        <h5 class="mb-0">마진율 등록</h5>
				    </div>
					    <div class="card-body">
					        <form class="row gx-3 form-test">
					        	<div class="col-lg-1 col-md-3 col-12">
		                       		<select class="form-select" name="searchKey">
		                           		<option>일시불</option>
		                           		<option>3개월</option>
		                           		<option>6개월</option>
		                           		<option>12개월</option>
		                           		<option>24개월</option>
		                           		<option>36개월</option>
		                           		<option>48개월</option>
		                           		<option>60개월</option>
		                       		</select>
		                   		</div>
					            <div class="col-md-2">
					                <input type="text" placeholder="마진율" class="form-control" />
					            </div>
					            <div class="col-md-2">
					                <button class="btn btn-primary" type="button">등록하기</button>
					            </div>
					        </form>
					    </div>
					</div>
	                    <!-- card-header end// -->
	                    <div class="card mb-4">
	                        <div class="card-body">
	                            <div class="table-responsive">
	                                <table class="table table-hover">
	                                    <thead>
	                                        <tr>
	                                            <th>번호</th>
	                                            <th scope="col">기간</th>
	                                            <th scope="col">마진율</th>
	                                            <th scope="col">사용유무</th>
	                                            <th scope="col">등록일시</th>
	                                            <th scope="col">수정일시</th>
	                                            <th scope="col">수정</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<th:block th:if="${!#lists.isEmpty(enterpriseMarginRatio)}"
													  th:each="l, stat : ${enterpriseMarginRatio}">	                                       
	                                        <tr>
	                                            <td th:text="${stat.count}">1</td>
	                                            <td th:text="${l.period eq 0 ? '일시불' : l.period + '개월'}"><b>60개월</b></td>
	                                            <td th:text="${l.marginRatio}">1.7</td>                                    
	                                            <td><span th:text="${l.useStatus}" class="badge rounded-pill alert-success">사용중</span></td>
	                                            <td th:text="${l.registerDate}">2023-03-02</td>
	                                            <td th:text="${l.revisionDate}">2023-03-02</td>
	                                      		<td>수정</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                            <!-- table-responsive //end -->
	                        </div>
	                        <!-- card-body end// -->
	                </div>
			</th:block>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    
    </body>
</html>
