<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ks54team01.customer.transferBoard.mapper.CustomerTransferBoardMapper">

  	<!-- resultMap : 조회 결과를 자바 클래스(domain, dto)와 명시적으로 매핑 설정-->
  	<resultMap type="CustomerTransferBoard" id="transferBoardResultMap">
		<id column="transfer_board_no" property="transferBoardNum" />
		<result column="upload_image" property="uploadImage" />
		<result column="cust_id" property="customerId" />
		<result column="rental_contract_no" property="rentalContractNum" />
		<result column="sell_products_no" property="sellProductsNum" />
		<result column="model_no" property="modelNum" />
		<result column="item_no" property="itemNum" />
		<result column="product_category_no" property="productCategoryNum" />		
		<result column="del_info_no" property="deliveryInfoNum" />
		<result column="transfer_title" property="transferTitle" />
		<result column="transfer_content" property="transferContent" />
		<result column="rental_fee" property="rentalFee" />
		<result column="remaining_months" property="remainingMonths" />
		<result column="contract_end_date" property="contractEndDate" />
		<result column="individual_grants" property="individualGrants" />
		<result column="board_valid_date" property="boardValidDate" />
		<result column="transfer_rental_processing_status" property="transferRentalProcsssingStatus" />
		<result column="register_date" property="registerDate" />
		<result column="revision_date" property="revisionDate" />

		<association property="customerMember" javaType="CustomerMember">
			<id column="cust_id" property="memberId" />
			<result column="cust_nm" property="custName" />
			<result column="cust_brdt" property="custBrdt" />
			<result column="cust_addr" property="custAddr" />
			<result column="cust_daddr" property="custDaddr" />
			<result column="cust_email" property="custEmail" />
			<result column="cust_phone" property="custPhone" />		
		</association>

		<association property="productInfo" javaType="CustomerProduct">
			<id column="products_no" property="productsNum" />
			<result column="manager_id" property="managerId" />
			<result column="model_no" property="modelNum" />
			<result column="item_no" property="itemNum" />
			<result column="product_category_no" property="productCategoryNum" />
			<result column="products_nm" property="productsName" />
			<result column="products_status" property="productsStatus" />		
			<result column="products_image" property="productsImage" />
			<result column="register_date" property="registerDate" />
			<result column="revision_date" property="revisionDate" />
		</association>
		
		<association property="customerDeliveryList" javaType="CustomerDeliveryList">
			<id column="delivery_location_no" property="delNo" />
			<result column="cust_id" property="custId" />
			<result column="delivery_nm" property="delNm" />
			<result column="primary_location" property="primaryLocation" />
			<result column="delivery_addr" property="delAddr" />
			<result column="delivery_daddr" property="delDaddr" />
			<result column="delivery_zip_no" property="delZipNo" />
			<result column="recipient_phone" property="recipientPhone" />		
			<result column="delivery_request" property="delRequest" />
			<result column="register_date" property="regDate" />
			<result column="revision_date" property="revDate" />
		</association>
		
		<association property="productInfoCategory" javaType="ProductInfoCategory">
			<id column="product_category_no" property="categoryNo" />
			<result column="large_category_no" property="lgCategoryNo" />
			<result column="large_category" property="lgCategory" />
			<result column="middle_category_no" property="mdCategoryNo" />
			<result column="middle_category" property="mdCategory" />
			<result column="small_category" property="smCategory" />
			<result column="use_status" property="useStatus" />		
		</association>
		
		<association property="customerContract" javaType="CustomerContract">
			<id 	column="rental_contract_no" 		property="rentalContractNo" />
			<result column="ent_ceo_no" 				property="entCeoNo" />
			<result column="ent_emp_id" 				property="entEmpId" />
			<result column="sell_products_no" 			property="sellProdNo" />
			<result column="cust_id" 					property="custId" />
			<result column="rental_contract_status" 	property="rentalContractStatus" />
			<result column="contract_quantity" 			property="contractQuantity" />
			<result column="contract_period" 			property="contractPeriod" />		
			<result column="rental_start_date" 			property="rentalStartDate" />
			<result column="rental_end_date" 			property="rentalEndDate" />
			<result column="rental_cancel_date" 		property="rentalCancelDate" />
			<result column="contract_date" 				property="contractDate" />
  		</association>
  		
  		<association property="customerSellProduct" javaType="CustomerSellProduct">
			<id 	column="sell_product_no" 		property="sellProductNo" />
			<result column="final_price" 				property="finalPrice" />
  		</association>
  		
  		<association property="customerDeliveryInfo" javaType="CustomerDeliveryInfo">
			<id 	column="del_info_no" 			property="delInfoNo" />
			<result column="cust_id" 				property="custId" />
			<result column="ent_ceo_no" 			property="entCeoNo" />
			<result column="ent_emp_id" 			property="entEmpId" />
			<result column="payment_completed_no" 	property="paymentCompletedNo" />
			<result column="sell_products_no" 		property="sellProdNo" />
			<result column="delivery_location_no" 	property="delNo" />
			<result column="recipient_nm" 			property="recipientNm" />
			<result column="recipient_phone" 		property="recipientPhone" />
			<result column="delivery_company" 		property="delCompany" />
			<result column="delivery_request" 		property="delRequest" />
			<result column="delivery_progress" 		property="delProgress" />
			<result column="depart_date" 			property="departDate" />
			<result column="arrive_date" 			property="arriveDate" />
			<result column="register_date" 			property="regDate" />
  		</association>
  	</resultMap>	
	
	<update id="removeMyTransferBoard" parameterType="string">
  		/* 양도 게시글 삭제 */
  		UPDATE transfer_board
		SET
			transfer_rental_processing_status = '양도공개전'
		WHERE
			transfer_board_no = #{transferBoardNum};
  	</update>


	<update id="modifyTransferBoard" parameterType="CustomerTransferBoard">
  		/* 양도 게시글 수정 */
  		UPDATE transfer_board
		<trim prefix="SET" suffixOverrides=",">
			<if test="individualGrants != null and individualGrants != ''">
				individual_grants = #{individualGrants} ,
			</if>
			<if test="transferTitle != null and transferTitle != ''">
				transfer_title = #{transferTitle},
			</if>	
			<if test="transferContent != null and transferContent != ''">
				transfer_content = #{transferContent},
			</if>
			revision_date = NOW()	
		</trim>
		WHERE
			transfer_board_no = #{transferBoardNum};
  	</update>

	<insert id="addTransferBoard" parameterType="CustomerTransferBoard">
  		/* 등록 */
  		INSERT INTO transfer_board
		(transfer_board_no, cust_id, rental_contract_no, sell_products_no, model_no, item_no, product_category_no, del_info_no, transfer_title, transfer_content, rental_fee, remaining_months, contract_end_date, individual_grants, board_valid_date, transfer_rental_processing_status, register_date, revision_date)
		VALUES(#{transferBoardNum}, 'personalcustid3', #{rentalContractNum}, #{sellProductsNum}, #{modelNum}, #{itemNum}, #{productCategoryNum}, #{customerDeliveryInfo.delInfoNo}, #{transferTitle}, #{transferContent}, #{rentalFee}, #{remainingMonths}, #{contractEndDate}, #{individualGrants}, DATE_ADD(NOW(), INTERVAL 1 MONTH), '대기중', NOW(), NOW());
  	</insert>

	<select id="getMyContractInfo" parameterType="string" resultMap="transferBoardResultMap">
  		/* 양도 게시글 등록 시 선택한 계약 정보 조회 */
  		SELECT 
			rc.rental_contract_no ,
			p.products_nm ,
			p.model_no ,
			p.item_no ,
			product_category_no ,
			sp.sell_products_no ,
			rc.sell_products_no ,
			rc.contract_quantity ,
			rc.contract_period,
			rc.rental_start_date ,
			rc.rental_end_date ,
			CEIL(DATEDIFF(rc.rental_end_date, NOW()) / 30) AS remaining_months,
			sp.final_price ,
			di.del_info_no ,
			dl.delivery_addr 
		FROM 
			rental_contract rc LEFT JOIN sell_products sp
			ON rc.sell_products_no = sp.sell_products_no 
			INNER JOIN products p
			ON sp.products_no = p.products_no
			INNER JOIN delivery_information di
			ON rc.cust_id = di.cust_id 
			INNER JOIN delivery_list dl
			ON di.delivery_location_no = dl.delivery_location_no
		WHERE 
			rc.cust_id = 'corpcustid4'
			AND rc.rental_contract_no = #{rentalContractNum};
  	</select>
  	
	<select id="getMyContractListByCustomerId" parameterType="string" resultMap="transferBoardResultMap">
  		/* 양도 게시글 등록 클릭 시 유효한 렌탈 목록 조회 */
  		SELECT 
			rc.rental_contract_no ,
			p.products_nm ,
			rc.contract_period
		FROM 
			rental_contract rc LEFT JOIN sell_products sp
			ON rc.sell_products_no = sp.sell_products_no 
			INNER JOIN products p
			ON sp.products_no = p.products_no 
		WHERE 
			rc.cust_id = 'corpcustid4';
  	</select>


	<select id="getMyTransferBoardList" parameterType="string" resultMap="transferBoardResultMap">
  		/* 내 양도 게시글 목록 조회 (제목, 작성자, 상품명, 이미지)*/
	   SELECT 
	   		tb.transfer_board_no ,
			p.products_image ,
			tb.cust_id ,
			c.cust_nm ,
			pc.middle_category ,
			pc.small_category ,
			tb.transfer_title ,
			tb.rental_fee ,
			tb.individual_grants ,
			tb.transfer_rental_processing_status ,
			DATE(tb.register_date) AS register_date 
		 FROM 
			customer c RIGHT JOIN transfer_board tb 
			USING (cust_id)
			INNER JOIN sell_products sp
			USING (sell_products_no)
			INNER JOIN products p
			USING (products_no)
			INNER JOIN products_category pc
			ON p.product_category_no = pc.product_category_no
		 WHERE
		 	transfer_rental_processing_status != '양도공개전'
		 	AND tb.cust_id = 'personalcustid4'
		 ORDER BY tb.register_date DESC;
  	</select>

	<select id="getTransferBoardCount" resultType="int">
		/* 전체 행 수 */
		SELECT
			COUNT(tb.transfer_board_no)
		FROM
			transfer_board tb INNER JOIN sell_products sp 
			USING (sell_products_no) 
			INNER JOIN products p 
			USING (products_no)
		<where>
			<if test="searchValue != null and searchValue != ''">
				p.products_nm LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</where>
	</select>

	<select id="getTransferBoardInfoByCode" parameterType="string" resultMap="transferBoardResultMap">
  		/* 양도 게시글 정보 조회 */
  		SELECT 
  			tb.transfer_board_no,
			tb.transfer_title,
			tb.transfer_rental_processing_status, 
			dl.delivery_addr,
			tb.cust_id,
			p.products_nm ,
			tb.board_valid_date,
			tb.remaining_months ,
			tb.rental_fee,
			tb.individual_grants,
			tb.transfer_content 
		FROM 
			products p RIGHT JOIN sell_products sp
			USING (products_no)
			INNER JOIN delivery_information di
			USING (sell_products_no)
			INNER JOIN delivery_list dl 
			USING (delivery_location_no)
			INNER JOIN transfer_board tb 
			USING (del_info_no)
		WHERE
			tb.transfer_board_no = #{transferBoardNum};
  	</select>

  	<select id="getTransferBoardList" parameterType="map" resultMap="transferBoardResultMap">
  		/* 양도 게시글 목록 조회 (제목, 작성자, 상품명, 이미지)*/
	   SELECT 
	   		tb.transfer_board_no ,
			f.file_path AS upload_image ,
			tb.cust_id ,
			c.cust_nm ,
			pc.middle_category ,
			pc.small_category ,
			tb.transfer_title ,
			tb.rental_fee ,
			tb.individual_grants ,
			tb.transfer_rental_processing_status ,
			DATE(tb.register_date) AS register_date 
		 FROM 
			customer c RIGHT JOIN transfer_board tb 
			USING (cust_id)
			INNER JOIN sell_products sp
			USING (sell_products_no)
			INNER JOIN products p
			USING (products_no)
			INNER JOIN products_category pc
			ON p.product_category_no = pc.product_category_no
			LEFT JOIN files f
			ON tb.transfer_board_no = f.ref_id AND f.file_type = 'mainImage'
		<where>
			transfer_rental_processing_status != '양도공개전'
			<if test="searchValue != null and searchValue != ''">
				AND p.products_nm LIKE CONCAT('%', #{searchValue}, '%')
			</if>
		</where>
		 ORDER BY
		 <if test="sortValue != null and sortValue == 'rowPrice'">
			tb.rental_fee ASC,
		 </if>
		 <if test="sortValue != null and sortValue == 'highPrice'">
			tb.rental_fee DESC,
		 </if>
		 <if test="sortValue != null and sortValue == 'deadline'">
			DATEDIFF(tb.board_valid_date, NOW()) ASC,
		 </if>
		 tb.register_date DESC
		 LIMIT #{pageable.rowPerPage} OFFSET #{pageable.offset};
  	</select>
  </mapper>